<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Uptime Monitoring Software</h1>
    <p class="header-desc text-center my-5">Avoid website and device incidents with unified uptime capabilities.</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>

<section class="p-120">
    <h2 class="section-title p-b-60">Keep Your IT Ecosystem Smooth-Sailing With Infraon Uptime</h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="p-3">
                <img src="./../../../../../assets/img/feature-icons/uptime-monitor.svg" class="mb-3" alt="">
                <p class="section-paragraph">Different teams in remote locations using website and link monitoring tools? Use a single service availability tool with a single source of truth.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="p-3">
                <img src="./../../../../../assets/img/feature-icons/uptime-clock.svg" class="mb-3" alt="">
                <p class="section-paragraph">False downtime alarms proving to be a pain? Receive alerts only when it matters - with retries, sensitivity & timeout checks.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="p-3">
                <img src="./../../../../../assets/img/feature-icons/uptime-alert.svg" class="mb-3" alt="">
                <p class="section-paragraph">Unaware of website and device incidents until it’s too late? Get a website status monitoring platform to continuously assess uptime.</p>
            </div>
        </div>
    </div>
</section>

<section class="p-tb-60">
    <h2 class="text-center section-title"><b><i>“The average cost of IT downtime is $5,600 per minute”</i></b></h2>
    <p class="text-center" style="font-size: 32px;"><b>- Gartner</b></p>
</section>


<section class="primary-bg powered-by p-120">
    <h2 class="text-white text-center">Our Track Record</h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/Group-1648.png" class="d-block" alt="">
            <p class="text-white"><b>1M+ </b>Availability Monitoring</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/Group-1649.png" class="d-block" alt="">
            <p class="text-white pe-5"><b>50+ </b>Protocol Support</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/Group-1651.png" class="d-block" alt="">
            <p class="text-white"><b>100+</b> Enterprise Customers</p>
        </div>
    </div>
</section>


<section class="p-120">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Centralize All Your Website & Device Monitoring Activities</p>
                <p class="section-paragraph">Infraon Uptime is a unified SaaS platform to monitor your websites, network devices, servers and ports – all from one location. Keep a close watch on your remote business-critical IT infrastructure with multi-location assessment and get integrated incident management functionalities to resolve issues right away!</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/uptime-feature-illutstrion1.webp" style="width: 80%;" alt="">
            </div>
        </div>
    </div>

    <div class="row p-tb-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left justify-content-center">
                <img src="./../../../../../assets/img/feature-img/uptime-feature-illutstrion2.webp" style="width: 80%;" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">Get Only Alerts And Notifications That Truly Matter</p>
                <p class="section-paragraph">Infraon Uptime ensures that your teams can easily zero in on downtime issues with an intelligent alerting system. Send updates and push notifications to relevant teams through SMS, e-mail, Slack, etc. and get response time metrics to enhance your network and website performance monitoring capabilities.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Enable Website Performance Monitoring - 24x7x365</p>
                <p class="section-paragraph">Infraon Assets empowers you to understand each asset’s ROI in terms of spending, maintenance, and upkeep. You get access to potential costs about replacement, refurbishment, end-of-life, etc., to make informed purchasing decisions. You can also eliminate unnecessary expenses and show measurable ROI to finance departments.Infraon Uptime is a UI-friendly platform to monitor your websites. Get data-rich insights at your fingertips with a proactive monitoring dashboard that helps track alerts, SLAs, and other key metrics. It’s the bird’s eye view of your websites that you’ve been looking for!
                </p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/uptime-feature-illutstrion3.webp" style="width: 80%;" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-120">
    <h2 class="section-title text-center p-b-60">Infraon Customers</h2>
    <div class="row mx-0">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of partners">
                <div class="slide">
                    <div class="d-flex align-items-center">
                        <img src={{slide.url}} alt="" class="px-5">
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">More Reasons Why You Need Infraon Uptime</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/network.svg" alt="">
            </div>
            <p class="section-title-s">Capture screenshots for error logging & analysis</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/alert.svg" alt="">
            </div>
            <p class="section-title-s">Use an integrated incident management system</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/map-marker.svg" alt="">
            </div>
            <p class="section-title-s">Ensure multi-location checks across location</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/bell-icon.svg" alt="">
            </div>
            <p class="section-title-s">Inbuilt workflows for a easier notification process</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/medal-icon.svg" alt="">
            </div>
            <p class="section-title-s">Evaluate brand reputation</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/monitor.svg" alt="">
            </div>
            <p class="section-title-s">Monitor domain certificate expiry</p>
        </div>
    </div>
</section>
