<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-5">About Infraon</h1>
    <p class="header-desc text-center">Infraon provides a unified suite of SaaS products to declutter the digital transformation journeys of SMEs, large enterprises, and telecom companies. We bring over two decades of specialized domain experience in the I&O landscape – and we’ve worked with enterprises of all sizes to help transform their operations in a phased and cost-effective manner.</p>
</section>


<section class="p-120">
    <h2 class="section-title text-center p-b-60">What We Stand For</h2>
    <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Our Product Philosophy</p>
                <p class="section-paragraph">Every product in Infraon Infinity - our all-in-one SaaS platform - is scalable and flexible to meet unique business demands. We aim to give you the freedom to select which part of the enterprise you want to modernize. Then, create a roadmap without shifting vendors or changing workflows.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../assets/img/image-25.webp" style="width: 80%;" alt="">
        </div>
    </div>

    <div class="row align-items-center p-t-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../assets/img/image-26.webp" style="width: 80%;" alt="">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">Our Mission</p>
                <p class="section-paragraph">To offer a low-code, stress-free integrated approach to help companies innovate at a pace best-suited to meet their business goals.</p>
            </div>
        </div>
    </div>
</section>

<section class="primary-bg p-120 powered-by">
    <h2 class="section-title text-center text-white">Our Company Values</h2>

    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="d-flex align-items-start my-4">
                <img src="./../../../assets/img/checkmark-circle.svg" class="mt-1" alt="">
                <div class="mx-3">
                    <p class="section-title-s text-white text-start">Innovation-First</p>
                    <p class="section-paragraph-s text-white text-start">We did deep to push the envelope and break</p>
                </div>
            </div>
            <div class="d-flex align-items-start my-4">
                <img src="./../../../assets/img/checkmark-circle.svg" class="mt-1" alt="">
                <div class="mx-3">
                    <p class="section-title-s text-white text-start">Value Addition</p>
                    <p class="section-paragraph-s text-white text-start">We constantly look for opportunities to provide “unasked for” client value.</p>
                </div>
            </div>
            <div class="d-flex align-items-start my-4">
                <img src="./../../../assets/img/checkmark-circle.svg" class="mt-1" alt="">
                <div class="mx-3">
                    <p class="section-title-s text-white text-start">Ethics-Always</p>
                    <p class="section-paragraph-s text-white text-start">We incubate a culture of high ethical values in everything we do.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../assets/img/Mask-Group(3).webp" class="w-100" alt="">
        </div>
    </div>
</section>