.header-section {
    background-image: url(./../../../assets/img/header-bg/resources.svg), url(./../../../assets/img/header-bg/product-header-bg-right.svg);
    background-size: auto ,contain;
    background-repeat: no-repeat;
    background-position: right bottom ,left center;
}

.brochure-container {
    background: #F5F5F5;
    border-radius: 10px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 297px;
    position: relative;
}

.sticky-filter-menu {
    position: fixed;
    top: 48px;
    background: #fafafa;
    width: 100%;
    padding-bottom: 5px;
    box-shadow: inset 0px -1px 0px #E4E4E4;
    z-index: 9;
    left: 0;
}