<app-loader></app-loader>

<section class="header-section p-lr-120 p-t-120 bg-grey">
    <h1 class="header-title text-center mb-5">Resources</h1>
    <p class="header-desc text-center p-b-120">Tools to help you gain control of remote access and security along with asset management and compliance.</p>
    

    <div class="row mx-0 pb-3 filter-menu">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="d-flex justify-content-start">
                <ul class="resourse-tabs d-flex justify-content-start">
                    <li (click)='filterData("all")' class="resources-tabs-button p-3 active">All</li>
                    <li (click)='filterData("case")' class="resources-tabs-button p-3">Case Studies</li>
                    <li (click)='filterData("brochure")' class="resources-tabs-button p-3">Brochures</li>
                    <li (click)='filterData("datasheet")' class="resources-tabs-button p-3">Datasheets</li>
                    <li (click)='filterData("videos")' class="resources-tabs-button p-3">Videos</li>
                    <li (click)='filterData("presentation")' class="resources-tabs-button p-3">Presentations</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="row mx-0">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <input type="text" name="search" class="seachbox m-0" id="seachbox" placeholder="Search documents" aria-describedby="Search documents" [(ngModel)]="searchText" (keyup)="searchDocuments()" autofocus>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <ng-select [items]="productLists" 
                        class="custom"
                        id="productFilter"
                        bindLabel="name" 
                        bindValue="id"
                        (change)='applyFilter()'
                        [(ngModel)]="selectedProduct">
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-120">
    <div class="row mx-0 p-t-60 justify-content-center" id="case">
        <h2 class="section-title text-center">Case Studies</h2>
        
        <div *ngFor="let item of case | filter : searchText" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-box border radius-10 p-4">
                <div class="col-12 p-0 logo-container">
                    <img src="{{item.img_url}}" alt="">
                </div>
                <p class="section-paragraph mt-4 mb-2">{{item.name}}</p>
                <p class="section-info mb-5">{{item.desc}}</p>
                <a href="{{item.doc_url}}" class="primary-color" class="primary-color" target="_blank">View Case Study</a>
            </div>
        </div>

        <div *ngIf="false" class="col-12 d-flex justify-content-center">
            <div class="alert alert-warning" role="alert">
                No case studies found for {{selectedProductName}}
            </div>
        </div>
    </div>

    <div class="row m-0 p-t-60 justify-content-center" id="brochure">
        <h2 class="section-title p-b-60 col-12 text-center">
            Brochures
        </h2>
        <div *ngFor="let item of brochures | filter : searchText" class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pb-5">
            <div class="brochure-box">
                <div class="col-12 p-0 brochure-container" style="overflow: hidden;">
                    <img src="{{item.img_url}}" alt="" style="position: absolute;
                    bottom: 0;
                    width: 80%;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;">
                </div>
                <p class="section-paragraph my-3"><strong>{{item.name}}</strong></p>
                <a href="{{item.doc_url}}" class="primary-color" target="_blank">View Brochure</a>
            </div>
        </div>
        
        <div *ngIf="false" class="col-12 d-flex justify-content-center">
            <div class="alert alert-warning" role="alert">
                No brochures found for {{selectedProductName}}
            </div>
        </div>
    </div>
    
    <div class="row m-0 p-t-60 justify-content-center" id="datasheet">
        <h2 class="section-title p-b-60 col-12 text-center">
            Datasheets
        </h2>
        <div *ngFor="let item of datasheet | filter : searchText" class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pb-5">
            <div class="brochure-box">
                <div class="col-12 p-0 brochure-container overflow-hidden">
                    <img src="{{item.img_url}}" alt="" style="position: absolute;
                    bottom: 0;
                    width: 80%;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;">
                </div>
                <p class="section-paragraph my-3"><strong>{{item.name}}</strong></p>
                <a href="{{item.doc_url}}" class="primary-color" target="_blank">View Datasheet</a>
            </div>
        </div>
        
        <div *ngIf="false" class="col-12 d-flex justify-content-center">
            <div class="alert alert-warning" role="alert">
                No datasheets found for Now
                <!-- No datasheets found for {{selectedProductName}} -->
            </div>
        </div>
    </div>
    
    <div class="row m-0 p-t-60 justify-content-center" id="videos">
        <h2 class="section-title p-b-60 col-12 text-center">
            Product Videos
        </h2>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" *ngIf="isAssetSelected">
            <div class="brochure-box">
                <div class="col-12 p-0 product-container">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RciQQV-GjIk?&autoplay=0"></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" *ngIf="isSecuraSelected">
            <div class="brochure-box">
                <div class="col-12 p-0 product-container">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vNnaiDd5NF4?&autoplay=0"></iframe>
                </div>
            </div>
        </div>

        <div *ngIf="false" class="col-12 d-flex justify-content-center">
            <div class="alert alert-warning" role="alert">
                No videos found for {{selectedProductName}}
            </div>
        </div>
    </div>
    
    <div class="row m-0 p-t-60 justify-content-center" id="presentation">
        <h2 class="section-title p-b-60 col-12 text-center">
            Presentations
        </h2>
        <div *ngFor="let item of presentation | filter : searchText" class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pb-5">
            <div class="brochure-box">
                <div class="col-12 p-0 brochure-container" style="overflow: hidden;">
                    <img src="{{item.img_url}}" alt="" style="position: absolute;
                    bottom: 0;
                    width: 80%;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;">
                </div>
                <p class="section-paragraph my-3"><strong>{{item.name}}</strong></p>
                <a href="{{item.doc_url}}" class="primary-color" target="_blank">View Presentation</a>
            </div>
        </div>
        
        <div *ngIf="false" class="col-12 d-flex justify-content-center">
            <div class="alert alert-warning" role="alert">
                No presentation found for {{selectedProductName}}
            </div>
        </div>
    </div>
</section>