<app-loader></app-loader>

<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center"><span class="primary-color">Artificial Intelligence</span> for IT Operations</h1>
    <p class="header-desc text-center mb-3">A platform-centric AI/ML-driven approach for centralizing and processing huge amounts of IT-related data from disparate sources. Empower multiple teams to be more responsive to outages and slowdowns and get bi-directional connectivity with ITSM technologies.</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Talk to us</a>
    </div>

    <p class="section-paragraph text-center p-tb-60">Features that makes Infraon AIOps</p>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <div class="me-3" style="width: 49px;text-align: center;height: 49px;background: #27ae60;padding: 12px 14px;border-radius: 50%;color: #fff;"><img src="./../../.../../../../../assets/img/shield.svg" alt="" class=""></div>
                <p class="mb-0">Event Correlation & Noise Reduction</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <div class="me-3" style="width: 49px;text-align: center;height: 49px;background: #F2994A;padding: 12px 14px;border-radius: 50%;color: #fff;"><img src="./../../.../../../../../assets/img/browser.svg" alt="" class=""></div>
                <p class="mb-0">Anomaly Deduction</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <img src="./../../.../../../../../assets/img/uptime-clock.svg" alt="" class="me-3"><p class="mb-0">Alarm Prediction</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <img src="./../../.../../../../../assets/img/navigation-2.svg" alt="" class="me-3"><p class="mb-0">Capacity Planning</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <img src="./../../.../../../../../assets/img/uptime-clock.svg" alt="" class="me-3"><p class="mb-0">Business Service Impact Analysis</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <img src="./../../.../../../../../assets/img/uptime-clock.svg" alt="" class="me-3"><p class="mb-0">Advanced Diagnosis Bots</p>
            </div>
        </div>
    </div>
</section>

<section class="info-section p-120">
    <h2 class="section-title text-center">What Exactly Is AIOps?</h2>
    <p class="section-paragraph text-center">AIOps tackles daily IT operational issues at scale by leveraging diverse technological techniques, including ML, network science, combinatorial optimization, and other computational approaches. AIOps allows businesses to address a wide range of IT management operations, from intelligent alerting, alert correlation, and alert escalation to auto-remediation, root-cause investigation, and capacity optimization.</p>
</section>

<section class="key-features p-lr-120">
    <h2 class="section-title text-center p-lr-120">
        Infaron AIOps - Artificial Intelligence For IT Operations
    </h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <div class="d-flex align-items-center mb-4">
                    <img src="./../.../../../../../../assets/img/feature-icons/pulse-small.svg" style="max-width: 50px;" class="me-3" alt="">
                    <p class="section-title-s mb-0">
                        Proactive IT Operations
                    </p>
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Use a disciplined framework for proactively streamlining processes, resources, personnel, information, and communication. Manage everything 24/7 by continuously examining, improving, and optimizing operations.
                </p>
            </div>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <div class="d-flex align-items-center mb-4">
                    <img src="./../.../../../../../../assets/img/feature-icons/command-small.svg" style="max-width: 50px;" class="me-3" alt="">
                    <p class="section-title-s mb-0">
                        Intelligent Event Management
                    </p>
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Establish processes that reduce the unnecessary noise you experience when incidents occur. Stay focused, along with your groups, and experience fewer interruptions when resolving issues.
                </p>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <div class="d-flex align-items-center mb-4">
                    <img src="./../.../../../../../../assets/img/feature-icons/cell-phones-small.svg" style="max-width: 50px;" class="me-3" alt="">
                    <p class="section-title-s mb-0">
                        Process Automation
                    </p>
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Trigger powerful automated actions - customized to overcome complexities of modern IT ecosystems. Ensure a closed loop of discovery, analysis, detection, prediction, and automation.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="p-120">
    <img src="./.../../../../../../../assets/img/flowcharts/AIOSPS-Flow.svg" class="flow-chart-img" alt="">
</section>

<section class="p-lr-120">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/calander.svg" alt="">
            </div>
            <p class="section-title-s">Noise Reduction And Advanced Event Correlation</p>
            <p class="section-paragraph-s">Identify all genuine alarms and suppress noises that daily consume a lot of the network operator’s time using AI/ML technologies.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/credit-card.svg" alt="">
            </div>
            <p class="section-title-s">Anomaly Deduction</p>
            <p class="section-paragraph-s">Identify actual data points based on raw historical data and extract possible minimum and maximum values.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/clock.svg" alt="">
            </div>
            <p class="section-title-s">Alarm Prediction</p>
            <p class="section-paragraph-s">Predict future data for all configured parameters with an advanced AI engine – cutting across all the business service or device statistics.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/right-arrow-circle.svg" alt="">
            </div>
            <p class="section-title-s">Contextual Awareness</p>
            <p class="section-paragraph-s">Connect notifications to issues affecting IT services. Use service maps and a topology explorer to better understand business impact.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/pulse.svg" alt="">
            </div>
            <p class="section-title-s">Actionable Automation</p>
            <p class="section-paragraph-s">Manage alarms before they occur using predictive insights - with machine data analytics to help run more efficient IT operations.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/cpu.svg" alt="">
            </div>
            <p class="section-title-s">Capacity Planning</p>
            <p class="section-paragraph-s">Meet hardware capacity demands by predicting upgrades for increasing CPU, memory, or storage capacity.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/airplay.svg" alt="">
            </div>
            <p class="section-title-s">Advanced Event Relation</p>
            <p class="section-paragraph-s">Perform analysis on inventory /topology data, historical incidents, and event generation time to identify related events - undetected by regular monitoring.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/chat.svg" alt="">
            </div>
            <p class="section-title-s">Micro Bots</p>
            <p class="section-paragraph-s">Enable interactive human-bot conversations through Natural Language Processing – with specific use-case automation options.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/anchor.svg" alt="">
            </div>
            <p class="section-title-s">Unified Analysis</p>
            <p class="section-paragraph-s">Get richer and deeper insights across your tool stack and un-complicate your increasingly modern IT operations.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/monitor.svg" alt="">
            </div>
            <p class="section-title-s">Prompt Resolution</p>
            <p class="section-paragraph-s">Route critical alerts to IT personnel through appropriate communication channels and the most up-to-date on-call schedules.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/stack.svg" alt="">
            </div>
            <p class="section-title-s">Custom Integration</p>
            <p class="section-paragraph-s">Build your own integration to any data source for full observability and collaboration.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/headphones.svg" alt="">
            </div>
            <p class="section-title-s">Incident Remediation</p>
            <p class="section-paragraph-s">Prevent costly service disruptions and handle repeated issues at scale with IT process automation.</p>
        </div>
    </div>
</section>

<section class="p-120">
    
    <h2 class="section-title text-center p-b-60">Success Stories</h2>
    <div class="row mx-0 p-b-60">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <img src="./../.../../../../../../assets/img/partners/airtel.png" class="me-3 d-block mb-5" style="min-height: 50px;" alt="">
                <p class="section-title-s text-start mb-4">
                    Session Monitoring
                </p>
                <p class="section-paragraph-s text-start">
                    Use a disciplined framework for proactively streamlining processes, resources, personnel, information, and communication. Manage everything 24/7 by continuously examining, improving, and optimizing operations.
                </p>
                <a href="./../../../../../assets/doc/case-study/airtel.pdf" target="_blank" class="primary-color">View Case Study</a>
            </div>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <img src="./../.../../../../../../assets/img/partners/bsnl.png" class="me-3 d-block mb-5" style="min-height: 50px;" alt="">
                <p class="section-title-s text-start mb-4">
                    Infraon Helps BSNL
                </p>
                <p class="section-paragraph-s text-start">
                    Establish processes that reduce the unnecessary noise you experience when incidents occur. Stay focused, along with your groups, and experience fewer interruptions when resolving issues.
                </p>
                <a href="./../../../../../assets/doc/case-study/airtel.pdf" target="_blank" class="primary-color">View Case Study</a>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <img src="./../.../../../../../../assets/img/partners/Geojit.png" class="me-3 d-block mb-5" style="min-height: 50px;" alt="">
                <p class="section-title-s text-start mb-4">
                    Session Monitoring
                </p>
                <p class="section-paragraph-s text-start">
                    Trigger powerful automated actions - customized to overcome complexities of modern IT ecosystems. Ensure a closed loop of discovery, analysis, detection, prediction, and automation.
                </p>
                <a href="./../../../../../assets/doc/case-study/airtel.pdf" target="_blank" class="primary-color">View Case Study</a>
            </div>
        </div>
    </div>

    <h2 class="section-title text-center p-b-60">Infraon Customers</h2>
    <div class="row mx-0">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of partners">
                <div class="slide">
                    <div class="d-flex align-items-center">
                        <img src={{slide.url}} alt="" class="px-5">
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>
    </div>
</section>