.header-section {
    background-image: url(./../../../../../assets/img/header-bg/itim-website-url-header-right-01.svg), url(./../../../../../assets/img/header-bg/itim-website-url-header-left-01.svg);
    background-size: contain,contain;
    background-repeat: no-repeat,no-repeat;
    background-position: right center, left center;
    background-color: #fff;
}