.header-section {
    background-image: url(./../../../../../assets/img/header-bg/helpdesk-landing-bg-right-01.svg),url(./../../../../../assets/img/header-bg/helpdesk-landing-bg-left-01.svg),url(./../../../../../assets/img/header-bg/helpdesk-landing-bg-center-01.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center, left center, top center;
}
.main-section .illustrated-feature-container-img-right {
    border-radius: 36px;
    width: 70%;
}