<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">An Affordable & Easy-to-Use Helpdesk</h1>
    <p class="header-desc text-center my-5">Ensure quick “anytime anyplace” customer resolution with a powerful & intuitive platform</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
        <a href="" class="secondary-button">Watch Video</a>
    </div>
</section>


<section class="p-120 main-section">
    <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Make Your Support Teams Customer-Friendly With Infraon Helpdesk</p>
                <div class="d-flex align-items-start my-4">
                    <img src="./../../../../../assets/img/checkmark.svg" class="me-3 mt-2" alt="">
                    <p class="section-paragraph mb-0">Are agents spending a lot of time performing repetitive tasks? Provide AI-powered workflows & auto-suggestions to amplify resolution speed.</p>
                </div>
                <div class="d-flex align-items-start my-4">
                    <img src="./../../../../../assets/img/checkmark.svg" class="me-3 mt-2" alt="">
                    <p class="section-paragraph mb-0">Customers affected by lack of collaboration between agents & internal teams? Get toolified to improve teamwork & better manage tickets.</p>
                </div>
                <div class="d-flex align-items-start my-4">
                    <img src="./../../../../../assets/img/checkmark.svg" class="me-3 mt-2" alt="">
                    <p class="section-paragraph mb-0">Are support journeys siloed & broken? Respond to customers from a unified location with offer self-service options to boost customer delight</p>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-end">
                <img src="./../../../../../assets/img/feature-img/helpdesk-main-illustration.png" style="width: 80%;" alt="">
            </div>
        </div>
    </div>
</section>

<section class="p-120">
    <h2 class="text-center section-title"><b><i>“82% of organizations either have or plan to implement a value enhancement strategy (for customer service interactions).”</i></b></h2>
    <p class="text-center" style="font-size: 32px;"><b>- Gartner</b></p>
</section>


<section class="primary-bg powered-by p-120">
    <h2 class="text-white text-center">Our Track Record</h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/Group-1648.png" class="d-block" alt="">
            <p class="text-white"><b>2K+</b> Agents benefited</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/Group-1649.png" class="d-block" alt="">
            <p class="text-white"><b>600K+</b> Clients supported</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/Group-1651.png" class="d-block" alt="">
            <p class="text-white"><b>15+</b> Years of Customer Success experience</p>
        </div>
    </div>
</section>


<section class="p-120">

    <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Connect The Dots With A Cost-Effective Support Ecosystem</p>
                <p class="section-paragraph">Infraon Helpdesk is a feature-rich yet low-code platform to deliver enriched customer service journeys. You can unify your customers, agents, and internal teams to drive seamless support experiences. Even if you don’t have a big budget, you get an extremely affordable, world-class solution to dynamically manage support tickets.
                </p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right nms-feature-img-2 justify-content-center">
                <img src="./../../../../../assets/img/feature-img/helpdesk-key-features-illustration1.webp" class="" style="width: 80%;" alt="">
            </div>
        </div>
    </div>
    
    <div class="row p-tb-120 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left nms-feature-img-1 justify-content-center">
                <img src="./../../../../../assets/img/feature-img/helpdesk-key-features-illustration2.png" class="" style="width: 80%;" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">Stop Treating Ticket Management Like It’s Rocket Science</p>
                <p class="section-paragraph">Infraon Helpdesk avoids the complexities that haunt other such products with a simple and intuitive web UI. It can increase agent efficiency and enable proactive customer support experiences without the hassles of dealing with a maze of features or poor data visualization. Instead, your agents can spend more time on increasing customer satisfaction.
                </p>
            </div>
        </div>
    </div>

    <div class="row  align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <div class="illustrated-feature-container-text-left">
                    <p class="section-title">Ensure Top-Speed ‘Anytime, Anyplace’ Customer Delight</p>
                        <p class="section-paragraph">Infraon Helpdesk comes equipped with complete mobile accessibility for starting or continuing support-related conversations. You can also use cutting-edge features like Email to Ticket, Ticket Creation via WhatsApp and AI- driven Chatbots to improve customer delight, no matter where they are.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right nms-feature-img-3 justify-content-center">
                <img src="./../../../../../assets/img/feature-img/helpdesk-key-features-illustration3.webp" class="" style="width: 80%;" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/mask.svg" alt="">
            </div>
            <p class="section-paragraph-s">Get access to robust reporting & analytics for better decision- making</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/user-check.svg" alt="">
            </div>
            <p class="section-paragraph-s">Match the right agent with the right ticket through intelligent routing</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/file-icon.svg" alt="">
            </div>
            <p class="section-paragraph-s">Provide self-service enablement to increase support agility</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/monitor.svg" alt="">
            </div>
            <p class="section-paragraph-s">Easily track & monitor agent performance with enhanced supervisor capabilities</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/shield.svg" alt="">
            </div>
            <p class="section-paragraph-s">Use workflows & business rules to accelerate agent productivity</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/stopwatch.svg" alt="">
            </div>
            <p class="section-paragraph-s">Deploy auto-suggestion feature to better manage support tickets</p>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-120">
    <h2 class="section-title text-center p-b-60">Infraon Customers</h2>
    <div class="row mx-0">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of partners">
                <div class="slide">
                    <div class="d-flex align-items-center">
                        <img src={{slide.url}} alt="" class="px-5">
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>
    </div>
</section>