.header-section {
    background-image: url(./../../../../../assets/img/header-bg/infinity-header-bg-right-01.svg), url(./../../../../../assets/img/header-bg/infinity-header-bg-left-01.svg);
    background-size: contain,contain;
    background-repeat: no-repeat,no-repeat;
    background-position: right center, left center;
}

.infinity-poker {
    background-color: #386fdc;
    border-radius: 20px;
    padding: 24px;
}
.infinity-poker p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #fff;
}