<app-loader></app-loader>

<section class="header-section p-120 bg-grey">
    <div class="row m-0">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 d-flex align-items-center">
            <div class="header-info-container m-md-t-none p-md-r-none">
                <h1 class="header-title text-left text-start px-0">
                    An all-in-one <br> product suite to infinitely accelerate IT & business transformation
                </h1>
            
                <div class="header-btn-group px-0">
                    <a class="primary-button m-0">Early bird access</a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="row m-0 header-img-box">
                <img src="./../../../../../assets/img/header-bg/infinity-header-bg-01.webp" alt="">
            </div>
        </div>
    </div>
</section>


<section class="key-features p-120">
    <h2 class="section-title text-center p-lr-60">
        Using Multiple Vendors To Modernize Different Parts Of Your Business? You’re Probably Familiar With These Problems.
    </h2>

    <div class="row mx-0">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/clock-beige.svg" style="max-width: 78px;" class="me-3" alt="">
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Disparate & time-confusing workflows make it a nightmare to rely on different vendors to tackle different challenges
                </p>
            </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/file-beige.svg" style="max-width: 78px;" class="me-3" alt="">
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Managing contract software negotiations, renewals, cancellations, etc., for each product seems like a full-time job.
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/alert-beige.svg" style="max-width: 78px;" class="me-3" alt="">
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Defining, authorizing & tracking all compliance risks across the enterprise is a myth
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/medal-beige.svg" style="max-width: 78px;" class="me-3" alt="">
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Hiring external certified teams is playing havoc on internal budgets
                </p>
            </div>
        </div>
    </div>
</section>

<section class="p-120 primary-bg infinity-homepage-blue-bg powered-by">
    <div class="row mx-0">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="row mx-0">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 my-3">
                    <div class="infinity-poker">
                        <img src="./../../../../../assets/img/feature-icons/infinity-rise.svg" class="mb-4" style="max-width: 56px;" alt="">
                        <p class="section-paragraph-s text-white text-start">Give Users The UI Familiarity To Quickly & Seamlessly Switch Between Products</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 my-3">
                    <div class="infinity-poker">
                        <img src="./../../../../../assets/img/feature-icons/user-check.svg" class="mb-4" style="max-width: 56px;" alt="">
                        <p class="section-paragraph-s text-white text-start">Remotely Define, Authorize & Track All The Compliance Risks Across The Enterprise</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 my-3">
                    <div class="infinity-poker">
                        <img src="./../../../../../assets/img/feature-icons/headphones.svg" class="mb-4" style="max-width: 56px;" alt="">
                        <p class="section-paragraph-s text-white text-start">Embark On A Single Vendor Journey With On-Demand Scalability & Lower Licensing Costs</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 my-3">
                    <div class="infinity-poker">
                        <img src="./../../../../../assets/img/feature-icons/command-small.svg" class="mb-4" style="max-width: 56px;" alt="">
                        <p class="section-paragraph-s text-white text-start">Equip IT & Non-IT Teams To Digitally Transform On One Platform With No External Support</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex align-items-center">
            <div class="px-5">
                <img src="./../../../../../assets/img/feature-icons/golden-like.svg" class="mb-5" alt="">
                <h2 class="section-title text-white mb-0">Enter Infraon Infinity - A Fully Integrated, SaaS-Based & AI-Powered Product Suite</h2>
            </div>
        </div>
    </div>
</section>


<section class="p-120">
    <h2 class="section-title text-center">Single Vendor. Single Platform. <br> Infinite Possibilities</h2>
    <img src="./.../../../../../../../assets/img/flowcharts/Infinity-flow.svg" class="flow-chart-img" alt="">
</section>

<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Effortlessly bring in any IT assets</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Auto discover IT assets & services or load non-IT assets to a single CMDB</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Select assets & services for real-time availability & performance monitoring</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Manage all genuine issues as incidents with inbuilt workflows</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Get single-click analytics & reporting</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Receive instant alerts & notifications</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Get complete analysis on capacity and usage patterns</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end p-t-60">
            <img src="./../../../../../assets/img/smiling-guy.webp" style="width: 100%;" alt="">
        </div>
    </div>
</section>


<section class="p-120">
    <h2 class="section-title text-center p-b-69">Why Infraon Infinity Is A Game-Changer</h2>
    
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <h2 class="section-title">Implement, Integrate & Modernize At Trail-Blazing Speed</h2>
                <p class="section-paragraph">Infraon Infinity’s suite of products offers consistent admin UI and workflows, with reusable templates, to minimize the time taken for implementation and integration.</p>
                <p class="section-paragraph">Don’t get bogged down or exposed to risks with costly ‘rip and replace’ IT projects; deploy a remote SaaS platform to manage your end-to-end IT and non-IT and network ecosystem.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/infinity-feature-img1.webp" width="80%" alt="">
            </div>
        </div>
    </div>
    
    <div class="row mx-0 align-items-center p-tb-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left justify-content-center">
                <img src="./../../../../../assets/img/feature-img/infinity-feature-img2.webp" width="80%" alt="">
            </div>
        </div>
        
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-right">
                <h2 class="section-title">Unify Data Management & Extract Actionable Business Insights</h2>
                <p class="section-paragraph">Infraon Infinity harnesses AI and ML to let you do more with data than ever before. Streamline and strengthen how you manage data that gets generated from unified workflows. But that’s just half the job.</p>
                <p class="section-paragraph">This all-in-one platform uses cutting-edge algorithms to transform cross-functional information into actionable and intuitive insights.</p>
            </div>
        </div>
    </div>
    
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <h2 class="section-title">Give Users An Interactive & Intuitive Dashboard They Will Love</h2>
                <p class="section-paragraph">Infraon Infinity puts your users in the front seat of accelerating day-to-day tasks with UI-friendly dashboards that come with multi-department visibility.</p>
                <p class="section-paragraph">Spot anomalies, inaccuracies, or inefficiencies with easy-to-understand data visualization and predefined templates.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/infinity-features-img3.webp" width="80%" alt="">
            </div>
        </div>
    </div>
</section>

<section class="p-lr-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex align-items-center justify-content-center">
            <img src="./../../../../../assets/img/feature-img/more-features-illustration.svg" style="width: 100%;" alt="">
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title mb-0">No More Dealing With Multi-Vendor Blues. Do More With Less Than Ever Before.</h2>
            
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Discover more accountability, transparency, and support in the vendor journey</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Use exclusive training modules to increase employee adoption of tools</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Eliminate the risk of system disruptions during integrating new capabilities</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Scale and modernize based on your unique business goals</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Get powerful tools with niche capabilities on a single platform</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Receive continuous upgrades & new features to be more competitive</p>
            </div>
        </div>
    </div>
</section>