<app-loader></app-loader>

<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center">Zero Trust<span class="primary-color"> Remote Access Platform</span></h1>
    <p class="header-desc text-center mb-3">A Remote Access, Authorization & Security System that powers real-time Cognition, Detection & Response.</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Talk to us</a>
    </div>

    <p class="section-paragraph text-center p-tb-60">Features that makes Infraon SecuRA</p>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <i class="fas fa-shield-alt me-3" style="padding: 17px; background: #27ae60; border-radius: 50%; color: #fff;"></i>
                <p class="mb-0">Authorize, Authenticate and Audit User Access</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <i class="far fa-clipboard me-3" style="padding: 17px 19px; background: #F2994A; border-radius: 50%; color: #fff;"></i>
                <p class="mb-0">Zero Trust Remote Access without VPN - CLI, RDP, VNC</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <i class="far fa-folder me-3" style="padding: 17px; background: #0d51d9; border-radius: 50%; color: #fff;"></i>
                <p class="mb-0">Secure file transfer & CLI Automation capabilities</p>
            </div>
        </div>
    </div>
</section>

<section class="p-120">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Secure Remote Access, With Centralized Policies And Zero Trust Features</p>
                <p class="section-paragraph">A Remote Access and Security platform that enables employees and external actors to remotely access on- premise and hybrid applications and servers without the need for costly VPNs.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-end">
                <img src="./../../../../../assets/img/Rectangle742.svg" alt="">
            </div>
        </div>
    </div>

    <div class="row p-tb-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left justify-content-end">
                <img src="./../../../../../assets/img/mask-group2.svg" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">Monitor & Record</p>
                <p class="section-paragraph">All Remote Session
                    Infraon Secura remote control software can record any or all RDP/CLI sessions on a Windows/Linux/Other Server. It can record precisely all user activity during terminal server sessions.
                </p>
                <p class="section-paragraph">The session Recording Includes Live Video & Playback of all user actions along with complete monitoring & recording of RDP/CLI Sessions.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Engineered For Remote</p>
                <p class="section-paragraph">And Secure Productivity
                    The Zero Trust model is based on a strict identity verification process. The framework dictates that only authenticated and authorized users and devices can access applications and data while protecting applications and users from advanced threats on the Internet.
                </p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-end">
                <img src="./../../../../../assets/img/mask-group3.svg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="p-lr-120">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/mask.svg" alt="">
            </div>
            <p class="section-title-s">RDP & CLI Sessions Recording</p>
            <p class="section-paragraph-s">Easily Monitor & Record Terminal Server Sessions. Session Recording Includes Live Video & Playback of all user actions for forensic audits.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/user-check.svg" alt="">
            </div>
            <p class="section-title-s">Collaborative Session Settings</p>
            <p class="section-paragraph-s">Administrators can join an ongoing remote session and also offer assistance to users during troubleshooting sessions.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/file-icon.svg" alt="">
            </div>
            <p class="section-title-s">Secure File Transfer Capabilities</p>
            <p class="section-paragraph-s">Ensures that all files transferred over the network are clear and secure. Any files that are suspect or infected are denied access.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/monitor.svg" alt="">
            </div>
            <p class="section-title-s">Session Monitoring</p>
            <p class="section-paragraph-s">Provide IT administrators with the ability to view and, if necessary, interrupt and terminate an active session.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/shield.svg" alt="">
            </div>
            <p class="section-title-s">Command Restrictions</p>
            <p class="section-paragraph-s">The zero trust security model restricts commands that are potentially dangerous and unauthorised made by unwitting users.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/stopwatch.svg" alt="">
            </div>
            <p class="section-title-s">Configure Scheduled Jobs</p>
            <p class="section-paragraph-s">The administrator can write CLI scripts and schedule them to be executed by the SecuRA.</p>
        </div>
    </div>
</section>

<section class="p-120">
    <div class="row mx-0 d-flex align-items-center p-b-120">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Key Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Integrate RDP/VNC and CLI system</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Discovery</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Store Device Credentials</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Device Authentication Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Device Authorization Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Device Inventory</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Device Groups</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Device Session Termination</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Web Based Application</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">User Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">User Groups</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">User Roles</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">CLI Session Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Configuration Templates</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Server Self Performance Monitoring</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Global Search</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Offline/Online Reports</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end">
            <img src="./../../../../../assets/img/secura-features.webp" class="w-100" alt="">
        </div>
    </div>
</section>

<section class="p-lr-120 p-b-120">
    
    <!-- <h2 class="section-title text-center p-b-60">Success Stories</h2>
    <div class="row mx-0 p-b-60">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <img src="./../.../../../../../../assets/img/partners/airtel.png" class="me-3 d-block mb-5" style="min-height: 50px;" alt="">
                <p class="section-title-s text-start mb-4">
                    Session Monitoring
                </p>
                <p class="section-paragraph-s text-start">
                    Use a disciplined framework for proactively streamlining processes, resources, personnel, information, and communication. Manage everything 24/7 by continuously examining, improving, and optimizing operations.
                </p>
                <a href="./../../../../../assets/doc/case-study/airtel.pdf" target="_blank" class="primary-color">View Case Study</a>
            </div>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <img src="./../.../../../../../../assets/img/partners/bsnl.png" class="me-3 d-block mb-5" style="min-height: 50px;" alt="">
                <p class="section-title-s text-start mb-4">
                    Infraon Helps BSNL
                </p>
                <p class="section-paragraph-s text-start">
                    Establish processes that reduce the unnecessary noise you experience when incidents occur. Stay focused, along with your groups, and experience fewer interruptions when resolving issues.
                </p>
                <a href="./../../../../../assets/doc/case-study/airtel.pdf" target="_blank" class="primary-color">View Case Study</a>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <img src="./../.../../../../../../assets/img/partners/Geojit.png" class="me-3 d-block mb-5" style="min-height: 50px;" alt="">
                <p class="section-title-s text-start mb-4">
                    Session Monitoring
                </p>
                <p class="section-paragraph-s text-start">
                    Trigger powerful automated actions - customized to overcome complexities of modern IT ecosystems. Ensure a closed loop of discovery, analysis, detection, prediction, and automation.
                </p>
                <a href="./../../../../../assets/doc/case-study/airtel.pdf" target="_blank" class="primary-color">View Case Study</a>
            </div>
        </div>
    </div> -->

    <h2 class="section-title text-center p-b-60">Infraon Customers</h2>
    <div class="row mx-0">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of partners">
                <div class="slide">
                    <div class="d-flex align-items-center">
                        <img src={{slide.url}} alt="" class="px-5">
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>
    </div>
</section>

<section class="p-120 bg-grey">
    <h2 class="section-title ">FAQs</h2>

    <ngb-accordion #acc="ngbAccordion" activeIds="toggle-1">
        <ngb-panel id="toggle-1" title="01. What is Remote access software?">
          <ng-template ngbPanelContent>
            Remote access software is a platform that allows users to remotely access a device- it could be a laptop, networking device, server or application that is being accessed by a remote user. Users can open apps, access a file, share a screen and much more using this remote access software.
            <br>
            A remote access software does exactly what its name says. This software program is designed to allow administrators or other authorized persons to remotely access a desktop, server or computer network. This remote access software can also be used to connect two or more nodes or computer networks in the same geographical location or in different geographical locations.
          </ng-template>
        </ngb-panel>
        
        <ngb-panel id="toggle-2" title="02. What is a zero trust remote access system?">
          <ng-template ngbPanelContent>
            Zero trust remote access system or ZTRA uses a secure technology that allows access to a device only after proper authentication to the ZTRA device. It works with a concept that any user wanting to access the network would be given least possible access and only with proper identification of the person will any further access be provided.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-3" title="03. Why is Zero Trust important?">
          <ng-template ngbPanelContent>
            With growing instances of data breach , cybersecurity threats and the need to remote working, zero trust network provides a holistic and strategic approach further secure your network and provide adequate access to the required systesm.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-4" title="04. How do I perform remote access to my network without a VPN?">
          <ng-template ngbPanelContent>
            You can use SecuRA’s zero trust remote access software that lets you access your network without any VPN network. SecuRA uses a Jump Server to establish any connection, its eliminated the need of any clients in the edge client and take off the load of a firewall.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-5" title="05. Does SecuRA help in compliance?">
          <ng-template ngbPanelContent>
            Many industrises have strict compliance of audit and identification for any remote access request. SecuRA provide these strict policies to cater to compliances. Further , the professionals at SecuRA guide you to build a remote access network that is in line with the compliance requirements.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-6" title="06. Why is Remote Access Software used?">
          <ng-template ngbPanelContent>
            The best remote access software can be used to monitor multiple devices simultaneously and provide remote support wherever necessary. This software will help employees of an organization connect with each other and with the home network and server systems. Remote access software also enables remote troubleshooting whenever required. It can be used for remote working, monitoring systems, providing access and privileges, and connecting employees.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-7" title="07. How does Remote Access Software Work?">
          <ng-template ngbPanelContent>
            There are three things necessary for zero trust network access to work. First is the remote computer access software, second is the network or computer systems, and third is the internet connectivity. To set up the remote access system, the gateway software needs to be installed in all networks that needs to be accesses and activated. It brings together all the devices to the same platform so employees as well as authorized third parties will be able to access Cloud, on-premises, and hybrid applications ( upcoming). The software will record all activities during the sessions so as to prevent the possibility of cyber threats or leak of confidential data.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-8" title="08. How does SecuRA help in attaining better security?">
          <ng-template ngbPanelContent>
            SecuRA relies on the Zero Trust network, where no unauthorized user is allowed to enter your network. This way you can be assured that all your sensitive data and access is safe and secure.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-9" title="09. What are the common features of remote access software?">
          <ng-template ngbPanelContent>
            Remote access software commonly offers features like secure file transfer, session monitoring, command restrictions, auto-updates, etc. All these are focused to create a security blanket for your organization’s network.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-10" title="10. Benefits of Remote Access Software">
          <ng-template ngbPanelContent>
            <p>The Best remote access software offers a myriad of benefits. Some of them are successful troubleshooting from distant locations, easy collaborations with teams working remotely and it also allows you to keep logs of all your activity.
            <br>
            There are numerous benefits of using remote control software, especially nowadays when remote working and work from home are becoming the new normal. A few of the benefits of using this application to remote access are:</p>
            
            <div class="d-flex align-items-start">
                <img src="./../../../../../assets/img/checkmark.svg" alt="">
                <div class="ps-3">
                    <p class="section-paragraph">Effectively monitor all the systems in a network</p>
                    <p class="section-paragraph-s text-start ps-3">The administrator can remotely manage all the systems in a network. Whether it’s setting up a new account or providing/deleting access, the administrator can easily take care of it.
                    </p>
                </div>
            </div>
            <div class="d-flex align-items-start">
                <img src="./../../../../../assets/img/checkmark.svg" alt="">
                <div class="ps-3">
                    <p class="section-paragraph">Remote troubleshooting</p>
                    <p class="section-paragraph-s text-start ps-3">One of the biggest benefits of using secure remote access software is that it allows remote troubleshooting in case of any technical problem in the network or system. The tech person can take control of the user’s system no matter the geographical location and solve the technical issue.
                    </p>
                </div>
            </div>
            
            <div class="d-flex align-items-start">
                <img src="./../../../../../assets/img/checkmark.svg" alt="">
                <div class="ps-3">
                    <p class="section-paragraph">Enables easy and efficient file sharing</p>
                    <p class="section-paragraph-s text-start ps-3">It’s risky to share confidential files across public networks and other file sharing systems. However, remote access helps authorised persons to send and receive files anywhere in the network.
                    </p>
                </div>
            </div>
            <div class="d-flex align-items-start">
                <img src="./../../../../../assets/img/checkmark.svg" alt="">
                <div class="ps-3">
                    <p class="section-paragraph">Allows setup of remote work models</p>
                    <p class="section-paragraph-s text-start ps-3">The new normal consists of remote work and work from home models. So, this makes remote access software essential for all organisations that follow this kind of work model. This software will help employees work from anywhere and get all the support and coordination just like how they used to have when working in the same office space.
                    </p>
                </div>
            </div>
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-11" title="11. How much does remote software cost?">
          <ng-template ngbPanelContent>
            The cost of remote software depends on the subscription plans you take. Some opt for a monthly subscription while some go for yearly subscriptions.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-12" title="12. What are some common remote access methods?">
          <ng-template ngbPanelContent>
            The most commonly used remote access methods are Virtual Private Network(VPN), direct networks like LAN, wireless network, and zero trust network access.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-13" title="13. Is remote access software safe?">
          <ng-template ngbPanelContent>
            The best remote access software are safe as they often depend on a zero trust security model. This Zero trust model restricts unauthorized access and keeps your network safe from cyber attackers.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-14" title="14. What are the components of zero trust?">
          <ng-template ngbPanelContent>
            The three main elements of a zero trust model are user/application authentication, device authentication, and trust / policies .
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
</section>