<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Service Desk</h1>
    <p class="header-desc text-center my-5">Drive complete user satisfaction with ITIL-aligned service desk features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Achieve Faster Time-To-Value With An ITSM Service Desk</p>
                <p class="section-paragraph">Infraon ITSM allows multiple users from different teams to work in sync and ensure rich service experiences. Give service desk teams what they need to better handle incident management, change management, request management, SLA management, etc.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/Group21661.webp" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Key Feature</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/navigation.svg" alt="">
            </div>
            <p class="section-title-s">Automated IT Service</p>
            <p class="section-paragraph-s">Automate repeatable service workflows, auto-assign tickets based on skill or availability, route to emails, etc., for faster resolutions.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/trending.svg" alt="">
            </div>
            <p class="section-title-s">Automated Change & Release</p>
            <p class="section-paragraph-s">Enhance rollout efficiency with easy workflows for change management & completing release-related tasks while tracking progress.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/map-folded.svg" alt="">
            </div>
            <p class="section-title-s">Automated Risk & Security</p>
            <p class="section-paragraph-s">Accelerate security & governance workflows that automatically eliminate risks that impact business continuity & scalability.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/headphones.svg" alt="">
            </div>
            <p class="section-title-s">Automated Alerts</p>
            <p class="section-paragraph-s">Deploy alert & notification rules to handle events & deliver proactive services while increasing workflow productivity.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/alert.svg" alt="">
            </div>
            <p class="section-title-s">Automated Alerts</p>
            <p class="section-paragraph-s">Deploy alert & notification rules to handle events & deliver proactive services while increasing workflow productivity.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/file-icon.svg" alt="">
            </div>
            <p class="section-title-s">Automated Alerts</p>
            <p class="section-paragraph-s">Deploy alert & notification rules to handle events & deliver proactive services while increasing workflow productivity.</p>
        </div>
    </div>
</section>

<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center position-relative">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Asset Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Task Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Knowledge Base Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Project Management</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Availability Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Release & Deployment Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Virtual Agents & Chatbots</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Franchise Management</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end position-absolute" style="right: 0;bottom: 0;">
            <img src="./../../../../../assets/img/feature-img/Group1935.png" style="width: 80%;" alt="">
        </div>
    </div>
</section>