<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Manage all Software Assets with the power of Infinity</h1>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button my-5">Early bird access</a>
    </div>
</section>

<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-paragraph">Tracking the lifecycle of each software asset across the organization is an arduous task. Given how many spreadsheets are involved, drawing meaningful data-rich insights would be like looking for needles in giant haystacks!</p>
                <p class="section-paragraph">Infraon Infinity comes integrated with platform-driven features to improve asset ROI while taking control of multiple software journeys. You can painlessly manage tickets, avoid unplanned costs, and create a compliance-rich ecosystem.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-end">
                <img src="./../../../../../assets/img/feature-img/sam-main-illustration.png" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="key-features p-120 bg-grey">
    <h2 class="section-title text-center p-lr-60">
        Manage Your IT Incidents - From Fault Detection To Self-Healing Features
    </h2>

    <div class="row mx-0">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-refresh.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Lifecycle management</p>
                <p class="section-paragraph-s text-start mb-0">
                    Track & secure your software asset lifecycles from basic software review to licensing & managed solutions.
                </p>
            </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-tag.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">True up costs</p>
                <p class="section-paragraph-s text-start mb-0">
                    Unearth the true up costs of your software assets –without getting blindsided by security & compliance breaches.
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-headphones.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Integrated ticketing</p>
                <p class="section-paragraph-s text-start mb-0">
                    Use inbuilt software ticket management features with multi-channel support & chatbots capabilities.
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/clock-beige.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Vendor management</p>
                <p class="section-paragraph-s text-start mb-0">
                    Get real-time insights on vendor performance & eliminate contractual oversights or poor SLAs.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Use the “scan/search” feature for all inventory endpoints</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Manage end-to-end software lifecycles with deep-dive insights</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Establish least-privilege access privileges to software assets</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Track software asset licenses from a centralized location</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Get customized alerts to prevent software-related disruptions</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end">
            <img src="./../../../../../assets/img/smiling-guy.webp" style="width: 100%;" alt="">
        </div>
    </div>
</section>

<section class="p-lr-120 p-t-120">
    <h2 class="section-title text-center">Monitor & Manage Your Software Asset Availability & Performance</h2>
    <p class="section-paragraph text-center">Infraon Infinity provides advanced application monitoring features to help you pinpoint and resolve critical IT issues in your ecosystem. Monitor the availability & performance of all your IT applications with comprehensive insights.</p>
</section>