<app-loader></app-loader>


<section class="header-section p-120 primary-bg">
    <h1 class="header-title text-center text-white mb-0">Integrated SaaS-based Network Monitoring System</h1>
    <p class="header-desc text-center text-white my-5">Monitor multi-vendor network devices with inbuilt incident management capabilities</p>

    <div class="d-flex justify-content-center mb-5">
        <a href="" class="white-button">Early bird access</a>
    </div>
    <div class="position-relative nms-header-img-container">
        <img src="./../../../../../assets/img/header-bg/nms-header-img.webp" class="d-block mx-auto w-100 position-absolute" alt="">
    </div>
</section>

<section class="p-120 nms-top-feature">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Increase Your Network Health & Performance With Infraon NMS</h2>

            <div class="d-flex align-items-center my-5">
                <img src="./../../../../../assets/img/feature-icons/move-01.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Using different tools for monitoring network availability & performance? Get a unified NMS platform that can do both!</p>
            </div>
            <div class="d-flex align-items-center my-5">
                <img src="./../../../../../assets/img/feature-icons/map-fold-01.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Tough to troubleshoot issues at the right time? Get a full map view & integrated incident management for faster resolutions.</p>
            </div>
            <div class="d-flex align-items-center my-5">
                <img src="./../../../../../assets/img/feature-icons/shield-purple.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Taking forever to use network monitoring tools? Deploy microbots to automate diagnosis, set thresholds, identify anomalies, etc.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="d-flex">
                <img src="./../../../../../assets/img/feature-img/nms-homepage-main-feature-img.webp" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-120">
    <h2 class="text-center section-title"><b><i>“Misused credentials are now the top technique used in breaches…Identity is a key lateral movement technique across air-gapped networks.”</i></b></h2>
    <p class="text-center" style="font-size: 32px;"><b>- Gartner</b></p>
</section>


<section class="p-lr-120 p-t-120" style="background: linear-gradient(180deg, #0d51d9 70%, #59838300 30%);">
    <div class="row mx-0 bg-white radius-10 shadow-box py-4">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/nms-stats-icon-1.svg" class="d-block mx-auto" alt="">
            <p class="text-center" style="font-weight: 900;font-size: 48px;line-height: 64px;color: #8c30f5;margin: 10px 0;"><b>100+</b></p>
            <p class="text-center section-paragraph mb-0">Enterprise customers</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/nms-stats-icon-2.svg" class="d-block mx-auto" alt="">
            <p class="text-center" style="font-weight: 900;font-size: 48px;line-height: 64px;color: #8c30f5;margin: 10px 0;"><b>1000k+</b></p>
            <p class="text-center section-paragraph mb-0">Interfaces Monitored</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/nms-stats-icons-3.svg" class="d-block mx-auto" alt="">
            <p class="text-center" style="font-weight: 900;font-size: 48px;line-height: 64px;color: #8c30f5;margin: 10px 0;"><b>300K+</b></p>
            <p class="text-center section-paragraph mb-0">Devices Managed</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/nms-stats-icon-4.svg" class="d-block mx-auto" alt="">
            <p class="text-center" style="font-weight: 900;font-size: 48px;line-height: 64px;color: #8c30f5;margin: 10px 0;"><b>100+</b></p>
            <p class="text-center section-paragraph mb-0">Major Vendor Support</p>
        </div>
    </div>
</section>


<section class="p-120">
    
    <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left nms-feature-img-1 justify-content-end">
                <img src="./../../../../../assets/img/feature-img/nms-key-feature-illustration-1.svg" class="shadow-box" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">Monitor All Your Network Devices Without Skipping A Beat</p>
                <p class="section-paragraph">Infraon NMS is a SaaS-based network monitoring system that gives you a complete view of your multi-vendor network infrastructure. Get on-demand flexibility and scalability to add/replace vendors, on-premises, cloud-hosted, or hybrid. With integrated event correlation, asset management, and incident management, you can increase network device performance.</p>
            </div>
        </div>
    </div>

    <div class="row p-tb-120  align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Bolster Your Network Inventory Monitoring At Top Speed</p>
                <p class="section-paragraph">Infraon NMS simplifies and accelerates how you manage all your network inventory – from a single location. Use an integrated platform with network topology and discovery - streamlining data like port details, IP addresses, end-of-life dates, etc. Enhance decision-making abilities with workflow automation and replace inventory on a timely basis.
                </p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right nms-feature-img-2 justify-content-center">
                <img src="./../../../../../assets/img/feature-img/nms-key-feature-illustration-2.svg" class="shadow-box" alt="">
            </div>
        </div>
    </div>

    <div class="row  align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right nms-feature-img-3 justify-content-center">
                <img src="./../../../../../assets/img/feature-img/nms-key-feature-illustration-3.svg" class="shadow-box" alt="">
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">Keep Your ISP & IP Or MPLS Links On Point Seamlessly</p>
                <p class="section-paragraph">Infraon NMS proactively monitors ISP & IP/MPLS link availability to ensure better network uptime, along with a high latency check to eliminate any bottlenecks. Manage SD-WAN traffic & use a customer portal to store network path details & validate customer SLAs.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120">
    <div class="row align-items-center">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title mb-0">More Reasons Why You Need Infraon NMS</h2>
    
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Get Automated Network Discovery</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Quickly Build A 360-Degree View With Network Topology</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Create Quality Of Service (QoS) Reports</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Manage Network Incidents & Faults</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Forecast Network Inventory Requirements</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Identify Bandwidth Issues</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex align-items-end justify-content-end">
            <img src="./../../../../../assets/img/smiling-guys-3.webp" class="w-100" alt="">
        </div>
    </div>
</section>