<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Manage Incidents & Faults with the power of Infinity</h1>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button my-5">Early bird access</a>
    </div>
</section>

<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-paragraph">Ensuring the availability, health, & performance of your technology infrastructure is a 24X7 effort. Plus, without data-led reporting & dashboard capabilities, you have to deal with downtimes, outages & compliance issues that have serious business implications.</p>
                <p class="section-paragraph">Infraon Infinity acts as a command center with inbuilt incident & fault management to handle IT issues in real-time. Deploy prebuilt workflows that help convert genuine faults into incidents that can be resolved.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-end">
                <img src="./../../../../../assets/img/feature-img/infinity-feature-2-main-img.png" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="key-features p-120 bg-grey">
    <h2 class="section-title text-center p-lr-60">
        Manage Your IT Incidents - From Fault Detection To Self-Healing Features
    </h2>

    <div class="row mx-0">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-calander.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Unified command center</p>
                <p class="section-paragraph-s text-start mb-0">
                    Access fault & incident analysis from a centralized location to prevent issues from becoming incidents.
                </p>
            </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-grid.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Event management</p>
                <p class="section-paragraph-s text-start mb-0">
                    Access, publish & download IT event data while automating workflows like remediation, routing & deduplication.
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-doc.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Advanced reporting</p>
                <p class="section-paragraph-s text-start mb-0">
                    Use customizable reporting features that offer smart insights on faults & incidents for future-proofing.
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-eye.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Customizable alerts</p>
                <p class="section-paragraph-s text-start mb-0">
                    Configure alerts & get notified when faults occur to take corrective actions & avoid costly incidents.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Automate incident diagnostics</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Enable fault detection in real-time</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Automate incident resolution workflows</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Integrate knowledge base capabilities</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end">
            <img src="./../../../../../assets/img/smiling-guy.webp" style="width: 100%;" alt="">
        </div>
    </div>
</section>

<section class="p-lr-120 p-t-120">
    <h2 class="section-title text-center">Take Charge Of Your Asset Lifecycles With Clear Insights On ROI</h2>
    <p class="section-paragraph text-center">Infraon Infinity gives access to end-to-end asset management features for all your IT, non-IT, and fixed assets. Streamline your asset lifecycles and optimize usage based on your business goals while accelerating deployment, ensuring compliance, increasing lifetime, and more.</p>
</section>