<section class="navbar-sec sticky w-100" >
    <div class="navbar-container row mx-0">
        <div class="navbar-brand-box ps-0">
            <a routerLink="/" class="main-navbar-links px-0">
                <img class="brand-img" src="assets/img/infinity-logos/web-logo/infraon_logo_small.svg" alt="">
            </a>

            <div class="backdrop"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2 bar2Main"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="navbar-menu-box justify-content-center">
            <ul class="main-navbar">
                <li class="main-navbar-links non-dropdown home"><a routerLink="/">Home</a></li>
                <li class="main-navbar-links non-dropdown platform"><a routerLink="/infraon-infinity">Platform</a></li>
                <li class="main-navbar-links dropdown-links prod"><a href="javascript:void(0)">Products <i class="fa-solid fa-chevron-down prod-arrow"></i></a></li>
                <li class="main-navbar-links dropdown-links resources"><a [routerLink]="['/resources/all']" href="javascript:void(0)">Resources <i class="fa-solid fa-chevron-down res-arrow"></i></a></li>
                <li class="main-navbar-links non-dropdown company"><a routerLink="/company">Company</a></li>
                <li class="main-navbar-links non-dropdown"><a href="https://infraon.io/blog">Blog</a></li>
                <li class="main-navbar-links non-dropdown support"><a routerLink="/support">Support</a></li>
            </ul>
        </div>
    </div>


    <div class="dropdown-section w-100 bg-white">
        <div class="dropdown-container position-relative">
            <div class="menu-container product-container">
                <div class="row mx-0 mt-3">
                    <div class="col-md-8 col-lg-8 col-xl-8 border-end">
                        <div class="row mx-0">
                            <div class="col-md-4 col-xl-4 col-lg-4">
                                <p class="products-group-title">ITOM - IT OPERATIONS MANAGEMENT</p>
                                <a routerLink="/infraon-assets" class="row mx-0 mb-2 px-0 align-items-center product-link main-navbar-links">
                                    <div class="col-2 px-0">
                                        <img src="assets/img/infinity-logos/prod-logos/Infraon-Assests.svg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <h4 class="mb-0 product-name">Infraon Assets</h4>
                                        <p class="product-desc mb-0">Asset Management Solution</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-uptime" class="row mx-0 mb-2 px-0 align-items-center product-link main-navbar-links">
                                    <div class="col-2 px-0">
                                        <img src="assets/img/infinity-logos/prod-logos/Uptime.svg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <h4 class="mb-0 product-name">Infraon Uptime</h4>
                                        <p class="product-desc mb-0">URL & IT Device Availability Monitoring</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-itim" class="row mx-0 mb-2 px-0 align-items-center product-link main-navbar-links">
                                    <div class="col-2 px-0">
                                        <img src="assets/img/infinity-logos/prod-logos/Infraon-OSS.svg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <h4 class="mb-0 product-name">Infraon ITIM</h4>
                                        <p class="product-desc mb-0">Hybrid  IT Infrastructure Management System</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-nms" class="row mx-0 mb-2 px-0 align-items-center product-link main-navbar-links">
                                    <div class="col-2 px-0">
                                        <img src="assets/img/infinity-logos/prod-logos/NMS.svg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <h4 class="mb-0 product-name">Infraon NMS</h4>
                                        <p class="product-desc mb-0">Network Management System</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-nccm" class="row mx-0 mb-2 px-0 align-items-center product-link main-navbar-links">
                                    <div class="col-2 px-0">
                                        <img src="assets/img/infinity-logos/prod-logos/NCCM.svg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <h4 class="mb-0 product-name">Infraon NCCM</h4>
                                        <p class="product-desc mb-0">Network Configuration And Compliance Management</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-aiops" class="row mx-0 mb-2 px-0 align-items-center product-link main-navbar-links">
                                    <div class="col-2 px-0">
                                        <img src="assets/img/infinity-logos/prod-logos/aiops.svg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <h4 class="mb-0 product-name">Infraon AIOps</h4>
                                        <p class="product-desc mb-0">AI Enabled Modern IT Operations</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-xl-4 col-lg-4">
                                <p class="products-group-title">CUSTOMER SUCCESS & SERVICE MANAGEMENT</p>
                                <a routerLink="/infraon-helpdesk" class="row mx-0 mb-2 px-0 align-items-center product-link main-navbar-links">
                                    <div class="col-2 px-0">
                                        <img src="assets/img/infinity-logos/prod-logos/Group-1662.svg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <h4 class="mb-0 product-name">Infraon Helpdesk</h4>
                                        <p class="product-desc mb-0">Customer Support System</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-itsm" class="row mx-0 mb-2 px-0 align-items-center product-link main-navbar-links">
                                    <div class="col-2 px-0">
                                        <img src="assets/img/infinity-logos/prod-logos/ITSM(2).svg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <h4 class="mb-0 product-name">Infraon ITSM</h4>
                                        <p class="product-desc mb-0">IT Service & Process Management</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-desk" class="row mx-0 mb-2 px-0 align-items-center product-link main-navbar-links">
                                    <div class="col-2 px-0">
                                        <img src="assets/img/infinity-logos/prod-logos/Desk.svg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <h4 class="mb-0 product-name">Infraon Desk</h4>
                                        <p class="product-desc mb-0">Pink Verified on 13 ITSM Processes</p>
                                    </div>
                                </a>
                                <p class="products-group-title mt-4">Zero Trust</p>
                                <a routerLink="/infraon-secura" class="row mx-0 mb-2 px-0 align-items-center product-link main-navbar-links">
                                    <div class="col-2 px-0">
                                        <img src="assets/img/infinity-logos/prod-logos/secura.svg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <h4 class="mb-0 product-name">Infraon SecuRA</h4>
                                        <p class="product-desc mb-0">Zero Trust Network & Remote Access Platform</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-xl-4 col-lg-4">
                                <p class="products-group-title">TELECOM</p>
                                <a routerLink="/infraon-oss" class="row mx-0 mb-2 px-0 align-items-center product-link main-navbar-links">
                                    <div class="col-2 px-0">
                                        <img src="assets/img/infinity-logos/prod-logos/OSS.svg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <h4 class="mb-0 product-name">Infraon OSS</h4>
                                        <p class="product-desc mb-0">Telecommunications Operations Support Systems</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-ims" class="row mx-0 mb-2 px-0 align-items-center product-link main-navbar-links">
                                    <div class="col-2 px-0">
                                        <img src="assets/img/infinity-logos/prod-logos/ims.svg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <h4 class="mb-0 product-name">Infraon IMS</h4>
                                        <p class="product-desc mb-0">Unified tool for 360 degree IT Infra monitoring</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 d-flex align-items-center">
                        <div class="row mx-0">
                            <div class="container">
                                <a routerLink="/infraon-infinity" clas px-0s="col-12 product-link main-navbar-links">
                                    <img src="assets/img/infinity-logos/prod-logos/infinity-support-logo.svg" class="mx-auto d-block infinity-logo" alt="">
                                    <p class="infinity-title text-center text-dark"><b>Infraon Infinity</b></p>
                                    <p class="infinity-desc text-center text-dark">An all-in-one platform to infinitely accelerate IT & business transformation</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-container resource-container">
                <div class="container">
                    <div class="row mx-0 mt-3">
                        <div class="col-4 mb-4">
                            <a class="main-navbar-links" [routerLink]="['/resources/brochure']">
                                <div class="resource-box border p-4">
                                    <div class="row mx-0">
                                        <div class="col-12">
                                            <img src="assets/img/infinity-logos/prod-logos/brochure.svg" alt="">
                                        </div>
                                        <div class="col-12">
                                            <p class="mt-3 mb-2">Brochures</p>
                                            <p class="mb-0" style="font-size: 14px;color: #999;line-height: 24px;">Get to know our products and their features.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 mb-4">
                            <a class="main-navbar-links" [routerLink]="['/resources/presentation']">
                                <div class="resource-box border p-4">
                                    <div class="row mx-0">
                                        <div class="col-12">
                                            <img src="assets/img/infinity-logos/prod-logos/ppt.svg" alt="">
                                        </div>
                                        <div class="col-12">
                                            <p class="mt-3 mb-2">Presentations</p>
                                            <p class="mb-0" style="font-size: 14px;color: #999;line-height: 24px;">Visually appealing presentations to help you discover the basics.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 mb-4">
                            <a class="main-navbar-links" [routerLink]="['/resources/case']">
                                <div class="resource-box border p-4">
                                    <div class="row mx-0">
                                        <div class="col-12">
                                            <img src="assets/img/infinity-logos/prod-logos/case-study.svg" alt="">
                                        </div>
                                        <div class="col-12">
                                            <p class="mt-3 mb-2">Case Studies</p>
                                            <p class="mb-0" style="font-size: 14px;color: #999;line-height: 24px;">Transform the way you do IT by learning from real-life experiences.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 mb-4">
                            <a class="main-navbar-links" [routerLink]="['/resources/datasheet']">
                                <div class="resource-box border p-4">
                                    <div class="row mx-0">
                                        <div class="col-12">
                                            <img src="assets/img/infinity-logos/prod-logos/data-sheet.svg" alt="">
                                        </div>
                                        <div class="col-12">
                                            <p class="mt-3 mb-2">Datasheets</p>
                                            <p class="mb-0" style="font-size: 14px;color: #999;line-height: 24px;">Infraon Datasheets to explore the details.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 mb-4">
                            <a class="main-navbar-links" [routerLink]="['/resources/videos']">
                                <div class="resource-box border p-4">
                                    <div class="row mx-0">
                                        <div class="col-12">
                                            <img src="assets/img/infinity-logos/prod-logos/resource-video.svg" alt="">
                                        </div>
                                        <div class="col-12">
                                            <p class="mt-3 mb-2">Video Zone</p>
                                            <p class="mb-0" style="font-size: 14px;color: #999;line-height: 24px;">Watch Infraon product videos</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="sidebar">
    <div class="m-menu-container p-3">
        <ul class="m-menu">
            <li class="p-3"><a class="m-links" routerLink="/">Home</a></li>
            <li class="p-3"><a class="m-links" routerLink="/infraon-infinity">Plateform</a></li>
            <li class="p-3"><a class="m-link">Products <i class="fa-solid fa-chevron-down m-prod-arrow"></i>
                
                <ul class="m-dropdown prod-drp ps-3">
                    <li class="py-2"><a class="m-links" routerLink="/infraon-infinity">Infraon Infinity</a></li>
                    <li class="py-2"><a class="m-links" routerLink="/infraon-assets">Infraon Assets</a></li>
                    <li class="py-2"><a class="m-links" routerLink="/infraon-uptime">Infraon Uptime</a></li>
                    <li class="py-2"><a class="m-links" routerLink="/infraon-itim">Infraon ITIM</a></li>
                    <li class="py-2"><a class="m-links" routerLink="/infraon-nms">Infraon NMS</a></li>
                    <li class="py-2"><a class="m-links" routerLink="/infraon-nccm">Infraon NCCM</a></li>
                    <li class="py-2"><a class="m-links" routerLink="/infraon-aiops">Infraon AIOps</a></li>
                    <li class="py-2"><a class="m-links" routerLink="/infraon-helpdesk">Infraon Helpdesk</a></li>
                    <li class="py-2"><a class="m-links" routerLink="/infraon-itsm">Infraon ITSM</a></li>
                    <li class="py-2"><a class="m-links" routerLink="/infraon-desk">Infraon Desk</a></li>
                    <li class="py-2"><a class="m-links" routerLink="/infraon-secura">Infraon SecuRA</a></li>
                    <li class="py-2"><a class="m-links" routerLink="/infraon-oss">Infraon OSS</a></li>
                    <li class="py-2"><a class="m-links" routerLink="/infraon-ims">Infraon IMS</a></li>
                </ul>

            </a></li>
            <li class="p-3"><a class="m-link" routerLink="/resources/all">Resources <i class="fa-solid fa-chevron-down m-res-arrow"></i>
            
                <ul class="m-dropdown res-drp ps-3">
                    <li class="py-2"><a class="m-links" [routerLink]="['/resources/brochure']">Brochures</a></li>
                    <li class="py-2"><a class="m-links" [routerLink]="['/resources/presentation']">Presentations</a></li>
                    <li class="py-2"><a class="m-links" [routerLink]="['/resources/case']">Case Studies</a></li>
                    <li class="py-2"><a class="m-links" [routerLink]="['/resources/datasheet']">Datasheets</a></li>
                    <li class="py-2"><a class="m-links" [routerLink]="['/resources/videos']">Videos</a></li>
                </ul>

            </a></li>
            <li class="p-3"><a class="m-links" routerLink="/company">Company</a></li>
            <li class="p-3"><a class="m-links" href="https://infraon.io/blog/">Blog</a></li>
            <li class="p-3"><a class="m-links" routerLink="/support">Support</a></li>
        </ul>
    </div>
</section>