<section class="navbar-sec sticky w-100" >
    <div class="navbar-container row mx-0">
        <div class="col-md-3 col-xl-3 col-lg-3">
            <a routerLink="/">
                <img class="brand-img" src="assets/img/infinity-logos/web-logo/infraon_logo_small.svg" alt="">
            </a>
        </div>
        <div class="col-md-9 col-xl-9 col-lg-9">
            <ul class="main-navbar">
                <li class="main-navbar-links non-dropdown"><a routerLink="/">Home</a></li>
                <li class="main-navbar-links non-dropdown"><a routerLink="/infraon-infinity">Platform</a></li>
                <li class="main-navbar-links dropdown-links"><a href="javascript:void(0)">Products <i class="fa-solid fa-chevron-down prod-arrow"></i></a></li>
                <li class="main-navbar-links dropdown-links"><a href="javascript:void(0)">Resources <i class="fa-solid fa-chevron-down res-arrow"></i></a></li>
                <li class="main-navbar-links non-dropdown"><a routerLink="/company">Company</a></li>
                <li class="main-navbar-links non-dropdown"><a href="">Blog</a></li>
                <li class="main-navbar-links non-dropdown"><a routerLink="/support">Support</a></li>
            </ul>
        </div>
    </div>


    <div class="dropdown-section w-100 bg-white">
        <div class="position-relative">
            <div class="menu-container product-container">
                <div class="row mx-0">
                    <div class="col-md-8 col-lg-8 col-xl-8 border-end">
                        <div class="row mx-0">
                            <div class="col-md-4 col-xl-4 col-lg-4">
                                <p class="products-group-title">ITOM - IT OPERATIONS MANAGEMENT</p>
                                <a routerLink="/infraon-assets" class="row mx-0 mb-3 align-items-center">
                                    <div class="col-3">
                                        <img src="assets/img/infinity-logos/prod-logos/Infraon-Assests.svg" alt="">
                                    </div>
                                    <div class="col-9">
                                        <h4 class="mb-0 product-name">Infraon Assets</h4>
                                        <p class="product-desc mb-0">Assets desc</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-uptime" class="row mx-0 mb-3 align-items-center">
                                    <div class="col-3">
                                        <img src="assets/img/infinity-logos/prod-logos/Uptime.svg" alt="">
                                    </div>
                                    <div class="col-9">
                                        <h4 class="mb-0 product-name">Infraon Uptime</h4>
                                        <p class="product-desc mb-0">Uptime desc</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-itim" class="row mx-0 mb-3 align-items-center">
                                    <div class="col-3">
                                        <img src="assets/img/infinity-logos/prod-logos/Infraon-OSS.svg" alt="">
                                    </div>
                                    <div class="col-9">
                                        <h4 class="mb-0 product-name">Infraon ITIM</h4>
                                        <p class="product-desc mb-0">ITIM desc</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-nms" class="row mx-0 mb-3 align-items-center">
                                    <div class="col-3">
                                        <img src="assets/img/infinity-logos/prod-logos/NMS.svg" alt="">
                                    </div>
                                    <div class="col-9">
                                        <h4 class="mb-0 product-name">Infraon NMS</h4>
                                        <p class="product-desc mb-0">NMS desc</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-nccm" class="row mx-0 mb-3 align-items-center">
                                    <div class="col-3">
                                        <img src="assets/img/infinity-logos/prod-logos/NCCM.svg" alt="">
                                    </div>
                                    <div class="col-9">
                                        <h4 class="mb-0 product-name">Infraon NCCM</h4>
                                        <p class="product-desc mb-0">NCCM desc</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-aiops" class="row mx-0 mb-3 align-items-center">
                                    <div class="col-3">
                                        <img src="assets/img/infinity-logos/prod-logos/aiops.svg" alt="">
                                    </div>
                                    <div class="col-9">
                                        <h4 class="mb-0 product-name">Infraon AIOps</h4>
                                        <p class="product-desc mb-0">AIOps desc</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-xl-4 col-lg-4">
                                <p class="products-group-title">CUSTOMER SUCCESS & SERVICE MANAGEMENT</p>
                                <a routerLink="/infraon-helpdesk" class="row mx-0 mb-3 align-items-center">
                                    <div class="col-3">
                                        <img src="assets/img/infinity-logos/prod-logos/Group-1662.svg" alt="">
                                    </div>
                                    <div class="col-9">
                                        <h4 class="mb-0 product-name">Infraon Helpdesk</h4>
                                        <p class="product-desc mb-0">Helpdesk desc</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-itsm" class="row mx-0 mb-3 align-items-center">
                                    <div class="col-3">
                                        <img src="assets/img/infinity-logos/prod-logos/ITSM(2).svg" alt="">
                                    </div>
                                    <div class="col-9">
                                        <h4 class="mb-0 product-name">Infraon ITSM</h4>
                                        <p class="product-desc mb-0">ITSM desc</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-desk" class="row mx-0 mb-3 align-items-center">
                                    <div class="col-3">
                                        <img src="assets/img/infinity-logos/prod-logos/Desk.svg" alt="">
                                    </div>
                                    <div class="col-9">
                                        <h4 class="mb-0 product-name">Infraon Desk</h4>
                                        <p class="product-desc mb-0">Desk desc</p>
                                    </div>
                                </a>
                                <p class="products-group-title mt-4">Zero Trust</p>
                                <a routerLink="/infraon-secura" class="row mx-0 mb-3 align-items-center">
                                    <div class="col-3">
                                        <img src="assets/img/infinity-logos/prod-logos/secura.svg" alt="">
                                    </div>
                                    <div class="col-9">
                                        <h4 class="mb-0 product-name">Infraon SecuRA</h4>
                                        <p class="product-desc mb-0">SecuRA desc</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-xl-4 col-lg-4">
                                <p class="products-group-title">TELECOM</p>
                                <a routerLink="/infraon-oss" class="row mx-0 mb-3 align-items-center">
                                    <div class="col-3">
                                        <img src="assets/img/infinity-logos/prod-logos/OSS.svg" alt="">
                                    </div>
                                    <div class="col-9">
                                        <h4 class="mb-0 product-name">Infraon OSS</h4>
                                        <p class="product-desc mb-0">OSS desc</p>
                                    </div>
                                </a>
                                <a routerLink="/infraon-ims" class="row mx-0 mb-3 align-items-center">
                                    <div class="col-3">
                                        <img src="assets/img/infinity-logos/prod-logos/ims.svg" alt="">
                                    </div>
                                    <div class="col-9">
                                        <h4 class="mb-0 product-name">Infraon IMS</h4>
                                        <p class="product-desc mb-0">IMS desc</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 d-flex align-items-center">
                        <div class="row mx-0">
                            <div class="container">
                                <a routerLink="/infraon-infinity" class="col-12">
                                    <img src="assets/img/infinity-logos/prod-logos/infinity-support-logo.svg" class="mx-auto d-block infinity-logo" alt="">
                                    <p class="infinity-title text-center text-dark"><b>Infraon Infinity</b></p>
                                    <p class="infinity-desc text-center text-dark">An all-in-one platform to infinitely accelerate IT & business transformation</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-container resource-container">
                <div class="container">
                    <div class="row mx-0">
                        <div class="col-4 mb-4">
                            <div class="resource-box border p-4">
                                <div class="row mx-0">
                                    <div class="col-12">
                                        <img src="assets/img/infinity-logos/prod-logos/brochure.svg" alt="">
                                    </div>
                                    <div class="col-12">
                                        <p>Brochure</p>
                                        <p>Desc</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mb-4">
                            <div class="resource-box border p-4">
                                <div class="row mx-0">
                                    <div class="col-12">
                                        <img src="assets/img/infinity-logos/prod-logos/ppt.svg" alt="">
                                    </div>
                                    <div class="col-12">
                                        <p>Brochure</p>
                                        <p>Desc</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mb-4">
                            <div class="resource-box border p-4">
                                <div class="row mx-0">
                                    <div class="col-12">
                                        <img src="assets/img/infinity-logos/prod-logos/case-study.svg" alt="">
                                    </div>
                                    <div class="col-12">
                                        <p>Brochure</p>
                                        <p>Desc</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mb-4">
                            <div class="resource-box border p-4">
                                <div class="row mx-0">
                                    <div class="col-12">
                                        <img src="assets/img/infinity-logos/prod-logos/data-sheet.svg" alt="">
                                    </div>
                                    <div class="col-12">
                                        <p>Brochure</p>
                                        <p>Desc</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mb-4">
                            <div class="resource-box border p-4">
                                <div class="row mx-0">
                                    <div class="col-12">
                                        <img src="assets/img/infinity-logos/prod-logos/resource-video.svg" alt="">
                                    </div>
                                    <div class="col-12">
                                        <p>Brochure</p>
                                        <p>Desc</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>