<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Website Monitoring</h1>
    <p class="header-desc text-center my-5">Monitor all internal & public websites with intelligent alerting features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Catch Downtimes And Incidents As They Happen In Real-Time</p>
                <p class="section-paragraph">Infraon Uptime helps conduct 24x7 website monitoring checks to identify downtimes and incidents while sharing notifications in real-time. Use a smart monitoring platform to catch website outages in a matter of seconds.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/website-managment-main.svg" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/disc.svg" alt="">
            </div>
            <p class="section-title-s">End-To-End Website Monitoring</p>
            <p class="section-paragraph-s">Monitor all internal & public websites with an easy & quick setup process to maximize site accessibility, as well as availability.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/send.svg" alt="">
            </div>
            <p class="section-title-s">Insights-Backed Alerts</p>
            <p class="section-paragraph-s">Receive timely alerts in case of website downtime or any other issues & prevent them before they turn into serious incidents.</p>
        </div>
    </div>
</section>


<section class="p-lr-120 primary-bg">
    <div class="row mx-0 d-flex align-items-center position-relative overflow-hidden bg-white-dots">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title text-white">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph text-white mb-0">SSL/TLS Certificate Checks</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph text-white mb-0">FTP Monitoring</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph text-white mb-0">TCP/IP Port Availability</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph text-white mb-0">DNS Checks</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box position-absolute" style="right: 0;bottom: 0;"> 
            <img src="./../../../../../assets/img/woman-2.webp" style="width: 80%;" alt="">
        </div>
    </div>
</section>