<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center text-white mb-0">Network SLA Management</h1>
    <p class="header-desc text-center text-white my-5">Streamline network SLA management with penalty calculation features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="white-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Bridge All Your Compliance Gaps With Network SLA Management</p>
                <p class="section-paragraph">Infraon NMS monitors your network device SLAs to understand fault occurrences while evaluating health and vendor compliance. Overcome the inherent challenges of your at-risk SLAs by continuously tracking their progress.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/nms-sla-main-illustration.svg" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/config.svg" alt="">
            </div>
            <p class="section-title-s">Unified SLA Management</p>
            <p class="section-paragraph-s">Manage all your network device SLAs from a single robust location and accurately calculate penalties. Use an intuitive dashboard that portrays a visual timeline of real-time data.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/bell-icon.svg" alt="">
            </div>
            <p class="section-title-s">SLA Alerts & Notifications</p>
            <p class="section-paragraph-s">Trigger alerts & notifications to the right team based on predefined rules. Automate root cause analysis to unearth insights on how to best meet SLAs.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/branch-small.svg" alt="">
            </div>
            <p class="section-title-s">Customizable SLA Workflows</p>
            <p class="section-paragraph-s">Configure SLA workflows for your multi-vendor network that helps different teams achieve seamless access & connectivity.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/file-icon.svg" alt="">
            </div>
            <p class="section-title-s">Advanced SLA Reporting</p>
            <p class="section-paragraph-s">Increase network SLA awareness with access to in-depth reports & a smooth interface to configure, preview & share data.</p>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center position-relative overflow-hidden bg-white-dots">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Network Topology</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Real-Time Status Updates</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">SLA Trend Analysis</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">SLA Definitions</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box position-absolute" style="right: 0;bottom: 0;"> 
            <img src="./../../../../../assets/img/woman-1.webp" style="width: 80%;" alt="">
        </div>
    </div>
</section>