<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Reporting & Analytics</h1>
    <p class="header-desc text-center my-5">Visualize, assess & improve customer support with data-driven reporting features.</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Let Your Powerful Customer Insights Do All The Talking</p>
                <p class="section-paragraph">Infraon Helpdesk equips you with simplified data analytics and BI-rich reports to take charge of every step in your support journeys. Garner actionable insights to skyrocket customer satisfaction and optimize agent workload.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/Group21161.webp" style="width: 80%;" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/network.svg" alt="">
            </div>
            <p class="section-title-s">Granular Customer Insights</p>
            <p class="section-paragraph-s">Stay on top of your customer goals with easily accessible support-related intelligence. Build a holistic view of performance, progress & outcomes to unify & enhance customer journeys.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/brackets.svg" alt="">
            </div>
            <p class="section-title-s">Coding-Free Analytics</p>
            <p class="section-paragraph-s">Leverage a zero-code support platform to create reports & fulfill customer expectations. Avoid hiring costly resources & time-consuming processes to collect & transform data into insights.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/bars.svg" alt="">
            </div>
            <p class="section-title-s">Intelligent Dashboards</p>
            <p class="section-paragraph-s">Give agents a customizable dashboard with full transparency on support metrics to make the right decision. Easily track SLAs, prioritize tickets & identify support bottlenecks.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/stack.svg" alt="">
            </div>
            <p class="section-title-s">Deep-Dive Reporting</p>
            <p class="section-paragraph-s">Access data-driven agent, inflow, CSAT & performance reports to accurately measure customer satisfaction. Analyze agent efficiency to create a proactive support strategy.</p>
        </div>
    </div>
</section>

<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center position-relative">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">KPI Dashboard</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Bulk Excel Import/ Export</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Reports</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Roles</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Report Export</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Alerts</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Scheduled Reports</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Customizable Fields</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end position-absolute" style="right: 0;bottom: 0;">
            <img src="./../../../../../assets/img/feature-img/Group1935.png" style="width: 80%;" alt="">
        </div>
    </div>
</section>