.header-section {
    background-image: url(./../../../../../assets/img/header-bg/itsm-header-homepage-bg-01.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 240px!important;
}

@media (max-device-width:1190px){
    .header-section{
        padding: 60px 60px 180px !important;
      }
}