<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Unified IT Service Management Software</h1>
    <p class="header-desc text-center my-5">Bring together multiple departments and customers to deliver integrated ITSM software experiences</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>

<section class="p-120">
    <h2 class="section-title p-b-60">Reach Your IT Service Peak Performance With Infraon ITSM</h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="p-3">
                <img src="./../../../../../assets/img/feature-icons/thumbup.svg" class="mb-3" alt="">
                <p class="section-paragraph mb-0">No certified engineers internally to ensure smooth deployment? Get started easily with a ready-to-use platform</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="p-3">
                <img src="./../../../../../assets/img/feature-icons/play.svg" class="mb-3" alt="">
                <p class="section-paragraph mb-0">Multi-department dependencies hurting service quality? Deploy a collaborative platform & bring multiple teams together.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="p-3">
                <img src="./../../../../../assets/img/feature-icons/target.svg" class="mb-3" alt="">
                <p class="section-paragraph mb-0">Are your employees receiving subpar service experiences? Use workflow automation & allow your agents to focus on meeting SLAs.</p>
            </div>
        </div>
    </div>
</section>

<section class="p-120">
    <h2 class="text-center section-title"><b><i>“Across 255 million annual contacts, 10% are intercepted by analytics, 15% - through user self-service, and 14% - by various forms of automation.”</i></b></h2>
    <p class="text-center" style="font-size: 32px;"><b>- Gartner</b></p>
</section>


<section class="primary-bg powered-by p-120">
    <h2 class="text-white text-center">Our Track Record</h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/Group-1648.png" class="d-block" alt="">
            <p class="text-white"><b>2K+</b> Agents benefited</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/Group-1649.png" class="d-block" alt="">
            <p class="text-white pe-5"><b>600K+</b> Clients supported</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/Group-1651.png" class="d-block" alt="">
            <p class="text-white"><b>15+</b> Years of Customer Success experience</p>
        </div>
    </div>
</section>


<section class="p-120">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Get A Fully Integrated IT Service Management Platform</p>
                <p class="section-paragraph">Infraon ITSM is an integrated platform to support your entire IT Service Management journey. It has the rare distinction of being certified as ITIL V4 compatible for 13 processes by Pink Elephant. You don’t need to make hefty investments to get a world-class ITSM “super manager” with a unified service catalogue to meet all your unique business needs.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/Group21161.webp" style="width: 80%;" alt="">
            </div>
        </div>
    </div>

    <div class="row p-tb-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left justify-content-center">
                <img src="./../../../../../assets/img/feature-img/Group21661.webp" style="width: 80%;" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">Unleash The Power Of Unified Service Capabilities</p>
                <p class="section-paragraph">Infraon ITSM equips your DevOps, IT, and business teams with workflow automation to respond to incidents or other issues 24X7. No more ineffective problem management - eliminate service siloes and achieve time-to-value with a user-friendly ITSM dashboard. Our clients attest that over 80% of tickets are resolved by agents in just a single click!
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Do The Math: AI + ITSM = Agility & Speed</p>
                <p class="section-paragraph">Infraon ITSM is a future-proofed platform - powered by the latest AI technologies. You can automate repetitive tasks to improve workforce productivity, enable change management and SLA management, deploy self-service portal, and more with AI/ML power. Drive human-bot conversations with NLP while connecting with new APIs to get out-of-the-box functionalities.
                </p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/itsm-homepage-feature-3-01.png" style="width: 80%;" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-120">
    <h2 class="section-title text-center p-b-60">Infraon Customers</h2>
    <div class="row mx-0">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of partners">
                <div class="slide">
                    <div class="d-flex align-items-center">
                        <img src={{slide.url}} alt="" class="px-5">
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">More Reasons Why You Need Infraon ITSM</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/stack.svg" alt="">
            </div>
            <p class="section-title-s">Enable end-to-end asset management - IT & fixed assets</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/tasks.svg" alt="">
            </div>
            <p class="section-title-s">Use low-code cataloging and searching to speed up</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/stopwatch.svg" alt="">
            </div>
            <p class="section-title-s">Ensure intelligent incident allocation to better manage incidents</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/chat-small.svg" alt="">
            </div>
            <p class="section-title-s">Deploy integrated AI-based chatbot for L1 replacement & process automation</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/cd-stack.svg" alt="">
            </div>
            <p class="section-title-s">Be API-friendly and leverage external integrations to enable best-in-class service</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/headphones.svg" alt="">
            </div>
            <p class="section-title-s">Get multi-language support to boost ITSM efficiency across the globe</p>
        </div>
    </div>
</section>
