<app-loader></app-loader>

<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center">Empower your <span class="primary-color">IT Service Management</span></h1>
    <p class="header-desc text-center mb-3">A System that uses adaptable practices, SLAs, streamlined workflows that bring customers and ops together.</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Talk to us</a>
        <a href="" class="secondary-button">Talk to us</a>
    </div>

    <p class="section-paragraph text-center p-tb-60">Features that makes Infraon Desk</p>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <div class="me-3" style="width: 49px;text-align: center;height: 49px;background: #27ae60;padding: 12px 14px;border-radius: 50%;color: #fff;"><img src="./../../.../../../../../assets/img/shield.svg" alt="" class=""></div>
                <p class="mb-0">Incident and Problem Management</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <div class="me-3" style="width: 49px;text-align: center;height: 49px;background: #F2994A;padding: 12px 14px;border-radius: 50%;color: #fff;"><img src="./../../.../../../../../assets/img/browser.svg" alt="" class=""></div>
                <p class="mb-0">Change Management</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <i class="far fa-folder me-3" style="padding: 17px; background: #7879f1; border-radius: 50%; color: #fff;"></i>
                <p class="mb-0">Request Fulfillment</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <img src="./../../.../../../../../assets/img/navigation-2.svg" alt="" class="me-3"><p class="mb-0">Asset & Configuration Management</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <i class="far fa-clipboard me-3" style="padding: 17px 19px; background: #ebe15a; border-radius: 50%; color: #fff;"></i>
                <p class="mb-0">SLA Management</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <img src="./../../.../../../../../assets/img/uptime-clock.svg" alt="" class="me-3"><p class="mb-0">Service Catalog Management</p>
            </div>
        </div>
    </div>
</section>

<section class="info-section p-120">
    <div class="d-flex align-items-center justify-content-center">
        <img src="./../../../../../assets/img/pinkelephant.png" class="me-5" alt="">
        <p class="section-paragraph text-start">Infraon Desk is certified as ITIL compatible for 13 processes <br> by Pink Elephant</p>
    </div>
</section>

<section class="key-features p-lr-120">
    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <div class="d-flex align-items-center mb-4">
                    <img src="./../.../../../../../../assets/img/feature-icons/user-small.svg" style="max-width: 50px;" class="me-3" alt="">
                    <p class="section-title-s mb-0">
                        Unify Customer And Ops
                    </p>
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    With adaptable practices, SLAs, streamlined workflows that bring customers and ops together.
                </p>
            </div>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <div class="d-flex align-items-center mb-4">
                    <img src="./../.../../../../../../assets/img/feature-icons/branch-small.svg" style="max-width: 50px;" class="me-3" alt="">
                    <p class="section-title-s mb-0">
                        Connect And Extend
                    </p>
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Offers comprehensive API's which allows you to extend out of box functionality to meet specific business needs
                </p>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <div class="d-flex align-items-center mb-4">
                    <img src="./../.../../../../../../assets/img/feature-icons/chat-small.svg" style="max-width: 50px;" class="me-3" alt="">
                    <p class="section-title-s mb-0">
                        Powerfully Automate Processes
                    </p>
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Eliminate repetitive tasks through automation & Infraon Bot for interactive AI driven human-Bot conversations using NLP
                </p>
            </div>
        </div>
    </div>
</section>

<section class="p-120">
    <img src="./.../../../../../../../assets/img/flowcharts/desk-flow-chart.svg" class="flow-chart-img" alt="">
</section>

<section class="p-lr-120">
    <h2 class="section-title text-center">Discover Features That Help Accelerate Your Organizational Processes</h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/config.svg" alt="">
            </div>
            <p class="section-title-s">Incident Management</p>
            <p class="section-paragraph-s">Manage Incident Lifecycle for multi-department issue tracking & resolution</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/user-check.svg" alt="">
            </div>
            <p class="section-title-s">Problem Management</p>
            <p class="section-paragraph-s">Analyze underlying Root Cause of Multiple Incidents and provide permanent fixes to recurring ones</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/navigation.svg" alt="">
            </div>
            <p class="section-title-s">CMDB & Asset Management</p>
            <p class="section-paragraph-s">Centralized Repository Of All Assets For In-Depth Tracking Of Status, Warranty And Other Important Information</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/config.svg" alt="">
            </div>
            <p class="section-title-s">SLA Management</p>
            <p class="section-paragraph-s">Ensure On-Time Incident Resolution With Comprehensive SLA Templates</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/airplay.svg" alt="">
            </div>
            <p class="section-title-s">Task Management</p>
            <p class="section-paragraph-s">Ensure On-Time Incident Resolution With Comprehensive SLA Templates</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/right-arrow-circle.svg" alt="">
            </div>
            <p class="section-title-s">Change Management</p>
            <p class="section-paragraph-s">Ensure On-Time Incident Resolution With Comprehensive SLA Templates</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/codesandbox.svg" alt="">
            </div>
            <p class="section-title-s">Knowledge Base Management</p>
            <p class="section-paragraph-s">Access, Publish And Download Data From Anywhere Anytime To Maintain Regular Business-Critical Operations</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/shield.svg" alt="">
            </div>
            <p class="section-title-s">Franchise Management</p>
            <p class="section-paragraph-s">Unified Helpdesk Platform Across Organizations And Their Franchisees And 3rd Party Vendors</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/alert-octagon.svg" alt="">
            </div>
            <p class="section-title-s">Project Management</p>
            <p class="section-paragraph-s">Plan, Build, Maintain & Manage Your Project By Capturing Details Of Sprints, Tasks, User Stories, Bugs, Insights, Etc</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/calander.svg" alt="">
            </div>
            <p class="section-title-s">Release & Deployment Management</p>
            <p class="section-paragraph-s">Access, publish and download data from anywhere anytime to maintain regular business-critical operations</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/gear.svg" alt="">
            </div>
            <p class="section-title-s">Service Catalogue Management</p>
            <p class="section-paragraph-s">Access, publish and download data from anywhere anytime to maintain regular business-critical operations</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/config.svg" alt="">
            </div>
            <p class="section-title-s">Configuration Management</p>
            <p class="section-paragraph-s">Access, publish and download data from anywhere anytime to maintain regular business-critical operations</p>
        </div>
    </div>
</section>

<section class="p-120">
    <div class="row">
        <h2 class="section-title col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">One Tool And Many Capabilities For An Enriched User Experience</h2>
    </div>
    <img src="./../../../../../assets/img/desk-link.svg" class="py-5" alt="">
    <div class="row">
        <p class="section-paragraph-s text-start col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">Track and manage your services & workflows with our quick-help and easy-to-use Service Management feature tools, totally aligned with ITILv3 guidelines.</p>
    </div>
</section>

<section class="p-lr-120">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title mb-0">Make Our IT Service Management Tool Act As A SuperManger For Your Datacenter</h2>
            <p class="section-paragraph my-5">With its light-weight codes, Infraon DESK can not only integrate with any existing tools in your datacenter, but also act as an Umbrella Manager for managing all your supporting IT tools on a single unified dashboard.</p>
    
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Easy Integration</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Automated Workflow & Task Assignment Across All Datacenter Tools</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Centralized Tool To Track & Manage All Service Processes Of All Tools Through A Single Dashboard</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Single Platform With Unified Ticket-Collection Center</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Real-Time Alerting & Notification On Incident Generation</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex align-items-end justify-content-end">
            <img src="./../../../../../assets/img/desk-man-announcement.svg" alt="">
        </div>
    </div>
</section>

<section class="p-120">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left">
                <img src="./../../../../../assets/img/Group-2342.svg" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">Dashboards & Reporting</p>
                <p class="section-paragraph">Gain Realtime Insights into your IT service:</p>

                <div class="d-flex align-items-center my-4">
                    <img src="./../../../../../assets/img/checkmark-circle.svg" class="me-3" alt="">
                    <p class="section-paragraph mb-0">Configurable dashboards with multi-level drill down support</p>
                </div>
                <div class="d-flex align-items-center my-4">
                    <img src="./../../../../../assets/img/checkmark-circle.svg" class="me-3" alt="">
                    <p class="section-paragraph mb-0">Real-time Alerts based on escalation matrix</p>
                </div>
                <div class="d-flex align-items-center my-4">
                    <img src="./../../../../../assets/img/checkmark-circle.svg" class="me-3" alt="">
                    <p class="section-paragraph mb-0">Role-based Access to relevant individualistic data</p>
                </div>
                <div class="d-flex align-items-center my-4">
                    <img src="./../../../../../assets/img/checkmark-circle.svg" class="me-3" alt="">
                    <p class="section-paragraph mb-0">Array of Data Analytics for Incidents of all types</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-120 bg-grey">
    <h2 class="section-title my-5">Knowledge And Resource Centre</h2>
    <p class="section-paragraph text-start">Access our collateral library to learn more about our products</p>

    <div class="row mx-0">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="bg-white resources-container">
                <img src="./../../../../../assets/img/knowlege-icons/brochure.svg" alt="">
                <p class="section-paragraph my-3">Brochure</p>
                <a href="">View <i class="fa-solid fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="bg-white resources-container">
                <img src="./../../../../../assets/img/knowlege-icons/flyer.svg" alt="">
                <p class="section-paragraph my-3">Flyer</p>
                <a href="">View <i class="fa-solid fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="bg-white resources-container">
                <img src="./../../../../../assets/img/knowlege-icons/presentation.svg" alt="">
                <p class="section-paragraph my-3">Presentation</p>
                <a href="">View <i class="fa-solid fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="bg-white resources-container">
                <img src="./../../../../../assets/img/knowlege-icons/case-study.svg" alt="">
                <p class="section-paragraph my-3">Case Study</p>
                <a href="">View <i class="fa-solid fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="p-120">
    
    <h2 class="section-title text-center p-b-60">Success Stories</h2>
    <div class="row mx-0 p-b-60 d-flex justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <img src="./../.../../../../../../assets/img/partners/dvoise.svg" class="me-3 d-block mb-5" style="min-height: 50px;" alt="">
                <p class="section-title-s text-start mb-4">
                    Infraon Ensures Dvois
                </p>
                <p class="section-paragraph-s text-start">
                    Provide Undivided Attention To Their Broadband Customers
                </p>
                <a href="./../../../../../assets/doc/case-study/Case_Study_D-Vois.pdf" target="_blank" class="primary-color">View Case Study</a>
            </div>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <img src="./../.../../../../../../assets/img/partners/sebi.svg" class="me-3 d-block mb-5" style="min-height: 50px;" alt="">
                <p class="section-title-s text-start mb-4">
                    Infraon Helps SEBI
                </p>
                <p class="section-paragraph-s text-start">
                    To Implement An SLA Driven ITIL Enabled Service Management System
                </p>
                <a href="./../../../../../assets/doc/case-study/Case_Study_SEBI.pdf" target="_blank" class="primary-color">View Case Study</a>
            </div>
        </div>
    </div>

    <h2 class="section-title text-center p-b-60">Infraon Customers</h2>
    <div class="row mx-0">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of partners">
                <div class="slide">
                    <div class="d-flex align-items-center">
                        <img src={{slide.url}} alt="" class="px-5">
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>
    </div>
</section>