<app-loader></app-loader>

<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center">Customer Centric <span class="primary-color">Digital OSS System</span></h1>
    <p class="header-desc text-center mb-3">High Scale and Customized Products for Every Telecommunicaiton Networks</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Talk to us</a>
    </div>

    <p class="section-paragraph text-center p-tb-60">Features that makes Infraon OSS</p>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <i class="fas fa-shield-alt me-3" style="padding: 17px; background: #27ae60; border-radius: 50%; color: #fff;"></i>
                <p class="mb-0">Leverage a fully integrated suite</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <i class="far fa-clipboard me-3" style="padding: 17px 19px; background: #F2994A; border-radius: 50%; color: #fff;"></i>
                <p class="mb-0">Overcome network operator obstacles</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <i class="far fa-folder me-3" style="padding: 17px; background: #0d51d9; border-radius: 50%; color: #fff;"></i>
                <p class="mb-0">Adopt a customer-centric model</p>
            </div>
        </div>
    </div>
</section>

<section class="key-features p-lr-120">
    <h2 class="section-title text-center p-lr-120">
        High Scale And Customized Products For Every Telecommunicaiton Networks
    </h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <div class="d-flex align-items-center mb-4">
                    <img src="./../.../../../../../../assets/img/feature-icons/config.svg" style="max-width: 50px;" class="me-3" alt="">
                    <p class="section-title-s mb-0">
                        Leverage A Fully Integrated Suite
                    </p>
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Swiftly manage multiple solutions across different vendors with a centralized and easy-to-use console.
                </p>
            </div>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <div class="d-flex align-items-center mb-4">
                    <img src="./../.../../../../../../assets/img/feature-icons/network.svg" style="max-width: 50px;" class="me-3" alt="">
                    <p class="section-title-s mb-0">
                        Overcome Network Operator Obstacles
                    </p>
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Get data-rich insights to address network, fault, performance, resource, and change management challenges.
                </p>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <div class="d-flex align-items-center mb-4">
                    <img src="./../.../../../../../../assets/img/feature-icons/user-small.svg" style="max-width: 50px;" class="me-3" alt="">
                    <p class="section-title-s mb-0">
                        Adopt A Customer-Centric Model
                    </p>
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Manage hybrid networks (legacy and virtualized), as well as software-defined and self-organizing networks for easy customer enablement.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="p-120">
    <img src="./.../../../../../../../assets/img/flowcharts/OSS-flow.svg" class="flow-chart-img" alt="">
</section>

<section class="p-lr-120">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/cd-stack.svg" alt="">
            </div>
            <p class="section-title-s">Unified Inventory</p>
            <p class="section-paragraph-s">Central CMDB
                <br> Network Agnostic
                <br> Domain Agnostic
                <br> Complete Life Cycle Management
                <br> Reconciliation</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/alert.svg" alt="">
            </div>
            <p class="section-title-s">Unified Fault Management</p>
            <p class="section-paragraph-s">Real Time fault detection
                <br> Faults from across domain
                <br> Automated incident
                <br> Unified Dashboard Console</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/cpu.svg" alt="">
            </div>
            <p class="section-title-s">Unified Performance Management</p>
            <p class="section-paragraph-s">Data collection thru EMS / NMS & Direct communication
                <br> Configurable collection frequency
                <br> Combined View of all the domains</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/clock.svg" alt="">
            </div>
            <p class="section-title-s">TCA & RCA</p>
            <p class="section-paragraph-s">Performance Threshold Breach Alarms
                <br> Component Level Threshold tuning
                <br> ML enabled Threshold Base lining</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/shield.svg" alt="">
            </div>
            <p class="section-title-s">Cross Domain Correlation</p>
            <p class="section-paragraph-s">Detailed Root Cause Analysis
                <br> Topological Relation based and Rule based Correlation
                <br> Engine works across the domain and identify RCA</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/config.svg" alt="">
            </div>
            <p class="section-title-s">NE Configuration & Provisioning</p>
            <p class="section-paragraph-s">End to end provisioning from the beginning Periodic OS Image, Configuration Backup and Change alert</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/network.svg" alt="">
            </div>
            <p class="section-title-s">Service Provisioning</p>
            <p class="section-paragraph-s">Resource Reconciliation & Feasibility Check End to end Service Provisioning across the Domain Network Elements</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/shield.svg" alt="">
            </div>
            <p class="section-title-s">Service Assurance</p>
            <p class="section-paragraph-s">Detailed CoS / QoS Monitoring
                <br> Customer related Experience Monitoring and
                <br> management
                <br> SLA Management</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/pulse-small.svg" alt="">
            </div>
            <p class="section-title-s">Smart Analytics</p>
            <p class="section-paragraph-s">Reporting & Dashboards
                <br> Forecast Prediction
                <br> Customer Insights
                <br> Capacity Planning
                <br> Decision Making</p>
        </div>
    </div>
</section>


<section class="p-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center p-b-120">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Key Use Cases</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">EMS/IMS Integration</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">MPLS Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">RF Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">UNMS</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">RAN/5G/4G</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Wi-Fi & Edge</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">IoT</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">VSAT Microwave</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">SD-WAN Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">GPON Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Tower Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Fiber Core(SDH, ASON Etc)</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end">
            <img src="./../../../../../assets/img/smiling-guy.webp" style="width: 100%;" alt="">
        </div>
    </div>


    <h2 class="section-title mb-0">Knowledge And Resource Centre</h2>
    <p class="section-paragraph text-start my-5">Access our collateral library to learn more about our products</p>

    <div class="row mx-0">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="bg-white resources-container">
                <img src="./../../../../../assets/img/knowlege-icons/brochure.svg" alt="">
                <p class="section-paragraph my-3">Brochure</p>
                <a target="_blank" href="./../../../../../assets/doc/brochures/Infraon-OSS-Brochure.pdf">View <i class="fa-solid fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="bg-white resources-container">
                <img src="./../../../../../assets/img/knowlege-icons/presentation.svg" alt="">
                <p class="section-paragraph my-3">Presentation</p>
                <a target="_blank" href="./../../../../../assets/doc/presentation/Infraon-OSS-Solution_v7.pdf">View <i class="fa-solid fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="p-120">
    <h2 class="section-title text-center p-b-60">Infraon Customers</h2>
    <div class="row mx-0">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of partners">
                <div class="slide">
                    <div class="d-flex align-items-center">
                        <img src={{slide.url}} alt="" class="px-5">
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>
    </div>
</section>