
<app-loader></app-loader>

<section class="header-section p-120 bg-grey">
    <div class="row m-0">
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 d-flex align-items-center">
            <div class="header-info-container m-md-t-none p-md-r-none">
                <h1 class="header-title text-left text-start px-0">
                    Vendor-neutral ITIM efficiency
                </h1>
            
                <p class="header-paragraph text-left text-center my-5 px-0">
                    Boost IT availability & performance across networks, servers, apps, CCTVs, Wi-Fi, cloud, and more.
                </p>
            
                <div class="header-btn-group px-0">
                    <a class="primary-button m-0">Early bird access</a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="row m-0 header-img-box">
                <div class="left">
                    <div class="blue-box">
                        <p>Servers, Apps</p>
                    </div>
                    <div class="puprle-box">
                        <p>Networks</p>
                    </div>
                </div>
                <div class="center">
                    <div class="img-box">
                        <img src="./../../../../../assets/img/header-bg/itim-header-img2.webp" style="background: transparent;" alt="">
                    </div>
                </div>
                <div class="right">
                    <div class="orange-box">
                        <p>Cloud, Hypervisor</p>
                    </div>
                    <div class="grey-box">
                        <div class="dots-container">
                            <div class="dots"></div>
                            <div class="dots"></div>
                            <div class="dots"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-120">
    <img src="./.../../../../../../../assets/img/flowcharts/Infinity-flow.svg" class="flow-chart-img" alt="">
</section>

<section class="p-lr-120">
    <h2 class="section-title text-center p-b-60">Trigger Complete IT Availability & Performance With Infraon ITIM</h2>

    <div class="bg-grey" style="border-radius: 22px;padding: 25px 70px 78px;">
        <div class="row mx-0">
            <p class="section-title text-center" style="font-size: 32px;">For Enterprises</p>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="p-4 bg-white" style="border-radius: 25px;">
                    <div class="icon-box" style="background-color: #f2994a;">
                        <img src="./../../../../../assets/img/feature-icons/thumbs-up.svg" class="d-block mx-auto" alt="">
                    </div>
                    <p class="section-paragraph text-center">Is your fragmented IT ecosystem giving unreliable monitoring data? Get a single view of your IT infra health.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="p-4 bg-white" style="border-radius: 25px;">
                    <div class="icon-box" style="background-color: #9b51e0;">
                        <img src="./../../../../../assets/img/feature-icons/thumbs-up.svg" class="d-block mx-auto" alt="">
                    </div>
                    <p class="section-paragraph text-center">Are your IT admins feeling the pressure of working with multiple vendors? Be powered by AIOps and smart bots.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="p-4 bg-white" style="border-radius: 25px;">
                    <div class="icon-box" style="background-color: #303e52;">
                        <img src="./../../../../../assets/img/feature-icons/thumbs-up.svg" class="d-block mx-auto" alt="">
                    </div>
                    <p class="section-paragraph text-center">Are you struggling to integrate data-driven ITSM capabilities? Use an inbuilt incident management system.</p>
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <p class="section-title text-center" style="font-size: 32px;">For SMEs</p>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="p-4 bg-white" style="border-radius: 25px;">
                    <div class="icon-box" style="background-color: #4f4f4f;">
                        <img src="./../../../../../assets/img/feature-icons/thumbs-up.svg" class="d-block mx-auto" alt="">
                    </div>
                    <p class="section-paragraph text-center">Unable to cope with your asset complexities? Streamline your asset management lifecycle with service agility & resilience.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="p-4 bg-white" style="border-radius: 25px;">
                    <div class="icon-box" style="background-color: #eb5757;">
                        <img src="./../../../../../assets/img/feature-icons/thumbs-up.svg" class="d-block mx-auto" alt="">
                    </div>
                    <p class="section-paragraph text-center">Do your teams complain about poor user experiences? Equip them with an easy-to-use SaaS-based ITIM platform.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="p-4 bg-white" style="border-radius: 25px;">
                    <div class="icon-box" style="background-color: #219653;">
                        <img src="./../../../../../assets/img/feature-icons/thumbs-up.svg" class="d-block mx-auto" alt="">
                    </div>
                    <p class="section-paragraph text-center">Getting reactive data analytics about your IT infrastructure? Instead, get more predictive insights with a server management tool.</p>
                </div>
            </div>
        </div>
    </div> 
</section>


<section class="p-120">
    <h2 class="section-title text-center"><i><b>“By 2025, the 10% of enterprises that establish AI engineering best practices will generate at least three times more value than the 90% that do not.”</b></i></h2>
    <h3 class="text-center">- Gartner</h3>
</section>

<section class="p-lr-120 p-t-120" style="background: linear-gradient(180deg, #0d51d9 50%, #59838300 50%);">
    <div class="row mx-0 bg-white radius-10 shadow-box py-4">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/nms-stats-icon-1.svg" class="d-block mx-auto" alt="">
            <p class="text-center" style="font-weight: 900;font-size: 48px;line-height: 64px;color: #8c30f5;margin: 10px 0;"><b>100+</b></p>
            <p class="text-center section-paragraph mb-0">Enterprise customers</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/nms-stats-icon-2.svg" class="d-block mx-auto" alt="">
            <p class="text-center" style="font-weight: 900;font-size: 48px;line-height: 64px;color: #8c30f5;margin: 10px 0;"><b>500k+</b></p>
            <p class="text-center section-paragraph mb-0">Devices Monitored and Managed</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/nms-stats-icons-3.svg" class="d-block mx-auto" alt="">
            <p class="text-center" style="font-weight: 900;font-size: 48px;line-height: 64px;color: #8c30f5;margin: 10px 0;"><b>50K+</b></p>
            <p class="text-center section-paragraph mb-0">Business critical Software Asset Monitored</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/nms-stats-icon-4.svg" class="d-block mx-auto" alt="">
            <p class="text-center" style="font-weight: 900;font-size: 48px;line-height: 64px;color: #8c30f5;margin: 10px 0;"><b>100+</b></p>
            <p class="text-center section-paragraph mb-0">Vendor support</p>
        </div>
    </div>
</section>


<section class="p-120">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">One Platform To Boost Your Complete ITIM</p>
                <p class="section-paragraph">Infraon ITIM uncomplicates the IT Infrastructure management process – offering cloud monitoring of IT devices, networks, servers, apps, CCTVs, Wi-Fi, cloud systems, SDWAN, etc. You can free your admins & support teams from struggling to maintain & improve infrastructure uptime. Reduce workflow complexities, enhance user experience & increase service health with an enterprise-grade ITIM platform.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/itim-three-one.svg" style="width: 80%;" alt="">
            </div>
        </div>
    </div>

    <div class="row p-tb-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left justify-content-center">
                <img src="./../../../../../assets/img/feature-img/Group21661.webp" style="width: 80%;" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">Incident & Fault Management – It’s Fast & Fully Integrated</p>
                <p class="section-paragraph">Infraon ITIM is equipped with an inbuilt incident & fault management system to detect & resolve issues in real-time. Use workflows that synchronize multiple teams so that the right corrective measures can be quickly & seamlessly taken. Avoid downtime, outages & other costly IT disruptions with a continuous IT infrastructure monitoring tool.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">ITIM Infrastructure Insights That Make You Think Fast & Act Faster</p>
                <p class="section-paragraph">Infraon ITIM provides actionable intelligence by gathering all the data from your applications (email/web) & servers to understand each component. You can build a golden database of IT infrastructure insights to understand spending, maintenance, upkeep, etc. Be aware of potential replacement, refurbishment, or end-of-life costs & improve your decision-making capabilities.
                </p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/itim-three-three-01.png" style="width: 80%;" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-120">
    <h2 class="section-title text-center p-b-60">Infraon Customers</h2>
    <div class="row mx-0">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of partners">
                <div class="slide">
                    <div class="d-flex align-items-center">
                        <img src={{slide.url}} alt="" class="px-5">
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>
    </div>
</section>


<section class="p-lr-120">
    <div class="row align-items-center">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title mb-0">More Reasons Why You Need Infraon ITIM</h2>
    
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Use A Single Command Center To Manage Events, Incidents, Requests, Etc.</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Overcome Security Issues With Configuration And Compliance Management</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Enable Rapid ‘Scan/Search’ To Discover Inventory Endpoints</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Use Data Visualization Features To Unearth A 360-Degree View Of IT Operations</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Increase Infrastructure Uptime With Proactive Resolution Capabilities</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Get Alerts & Notifications With Application & Server Monitoring Tools</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex align-items-end justify-content-end">
            <img src="./../../../../../assets/img/smiling-guy-2.webp" class="w-100" alt="">
        </div>
    </div>
</section>