<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center text-white mb-0">Network Discovery</h1>
    <p class="header-desc text-center text-white my-5">Automate the network discovery process with mapping & visualization features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="white-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Drive More Device Efficiency With Automated Network Discovery</p>
                <p class="section-paragraph">Infraon NMS provides an intelligent network discovery tool for monitoring, mapping, and visualizing the impact of network devices. Drive more discovery efficiency by automatically gathering extensive data on network inventory.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/network-discover-main-bg.png" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/user-small.svg" alt="">
            </div>
            <p class="section-title-s">Discovery Profile Management</p>
            <p class="section-paragraph-s">Thoroughly scan your network ecosystem to unearth valuable insights about IT & non-IT devices based on profile information.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/branch-small.svg" alt="">
            </div>
            <p class="section-title-s">Discovery Rule Engine</p>
            <p class="section-paragraph-s">Use predefined rules to discover network devices - avoiding time-consuming workflows associated with network discovery.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/config.svg" alt="">
            </div>
            <p class="section-title-s">Discovery Schedule Management</p>
            <p class="section-paragraph-s">Periodically schedule all your network discovery tasks to identify new devices - as and when they are added.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/document.svg" alt="">
            </div>
            <p class="section-title-s">Advanced Reporting</p>
            <p class="section-paragraph-s">Get reports on IT & non-IT devices – based on number, type, profile, etc. - to optimize network monitoring & performance.</p>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey bg-black-dots-left">
    <div class="row mx-0 d-flex align-items-center position-relative overflow-hidden">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box position-relative" style="left: 0;bottom: -40px;">
            <img src="./../../../../../assets/img/woman 3.webp" style="width: 80%;" alt="">
        </div>


        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Network Discovery Templates</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Network Topology</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Advanced Network Mapping</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Network Inventory Management</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Advanced Reporting</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Alerts</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>