<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">IT Reports & Dashboards</h1>
    <p class="header-desc text-center my-5">Know what matters in your IT ecosystem with multi-department and CXO visibility features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Harness Multi-Vendor IT Insights With Interactive Reports & Dashboards</p>
                <p class="section-paragraph">Infraon ITIM helps transform raw data on IT infrastructure health, availability, and performance into actionable business intelligence. Share valuable IT insights with interactive reporting capabilities & intuitive data visualization features.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/itim-report-main-img.webp" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/document.svg" alt="">
            </div>
            <p class="section-title-s">Simplified Multi-Vendor IT Management</p>
            <p class="section-paragraph-s">Manage your multi-vendor IT ecosystem with unified reports & dashboards. Get insights on device & application usage, inventory, events, incidents, etc.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/grid.svg" alt="">
            </div>
            <p class="section-title-s">Templated ITIM Dashboards & Reports</p>
            <p class="section-paragraph-s">Monitor specific parts of your IT infrastructure with prebuilt templates for dashboards & reports. Spot inefficiencies that may disrupt your business.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/file-icon.svg" alt="">
            </div>
            <p class="section-title-s">Complete Reporting Flexibility</p>
            <p class="section-paragraph-s">Generate reports periodically – with customizable map views, CXO-based views & multi-level views.</p>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center position-relative bg-black-dots">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">IT Inventory Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Incident & Fault Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Event Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">SLA Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Alerts & Notifications</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end position-absolute" style="right: 0;bottom: 0;">
            <img src="./../../../../../assets/img/woman-1.webp" style="width: 80%;" alt="">
        </div>
    </div>
</section>