<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">IT Network Monitoring</h1>
    <p class="header-desc text-center my-5">Manage IT network devices with availability & cloud monitoring capabilities</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Gain Total Control Of Your ITIM With Real-Time Network Monitoring</p>
                <p class="section-paragraph">Infraon ITIM keeps an eye on the availability and performance of all IT network devices with intelligent business insights. Receive custom alerts and notifications to boost your multi-vendor network efficiency.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/itim-feature4-main-illustration.svg" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/tasks.svg" alt="">
            </div>
            <p class="section-title-s">Network Availability & Performance</p>
            <p class="section-paragraph-s">Get a drilled-down view into problems like system temperature or fan speed with a single source of truth. Plan IT infrastructure spend to improve maintenance, replacement, etc.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/wifi-network.svg" alt="">
            </div>
            <p class="section-title-s">Network Topology</p>
            <p class="section-paragraph-s">Automate the process of scanning, discovering & mapping your IT network devices, including any updates/additions. Get deep-dive data visualization to help with network planning.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/monitor.svg" alt="">
            </div>
            <p class="section-title-s">Multi-Vendor Monitoring</p>
            <p class="section-paragraph-s">Proactively monitor the quality of your multi-vendor network with integrated diagnostic features. Detect & correlate any issues relating to specific vendors.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/pie-chart-01.svg" alt="">
            </div>
            <p class="section-title-s">QoS & CoS Monitoring</p>
            <p class="section-paragraph-s">Get QoS monitoring capabilities to evaluate IT network traffic & reduce issues like latency or packet loss. Assess CoS components to prioritize IT network service.</p>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center position-relative bg-black-dots">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Integrated Incident & Fault Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">IT Inventory Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">SLA Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Port Monitoring</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">API Monitoring</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Web Server Monitoring</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Dashboards & Reports</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Alerts & Notifications</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end position-absolute" style="right: 0;bottom: 0;">
            <img src="./../../../../../assets/img/woman-1.webp" style="width: 80%;" alt="">
        </div>
    </div>
</section>