<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">External Integration</h1>
    <p class="header-desc text-center my-5">Swiftly connect to popular apps with easy-to-integrate helpdesk features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Let Your Helpdesk Do More For Customers Than Ever Before</p>
                <p class="section-paragraph">Infraon Helpdesk enables the smooth integration of external apps to simplify and enhance how you can provide customer service. Immediately start reducing time, effort, and costs with rapid external integration capabilities.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/external-integration-main-bg.webp" style="width: 80%;" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Key Feature</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/salesforce.svg" alt="">
            </div>
            <p class="section-title-s">Salesforce</p>
            <p class="section-paragraph-s">Streamline support & sales by unlocking the potential of CRM data.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/teams.svg" alt="">
            </div>
            <p class="section-title-s">Microsoft Teams</p>
            <p class="section-paragraph-s">Enable better teamwork to achieve quicker ticket resolutions.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/slack.svg" alt="">
            </div>
            <p class="section-title-s">Slack</p>
            <p class="section-paragraph-s">Promote cross-team collaboration & meet customer support goals.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/whatsapp.svg" alt="">
            </div>
            <p class="section-title-s">WhatsApp</p>
            <p class="section-paragraph-s">Resolve customer issues wherever they are likely to interact the most.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/livechat.svg" alt="">
            </div>
            <p class="section-title-s">LiveChat</p>
            <p class="section-paragraph-s">Synchronize how you manage email & chat support on one platform.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/mailchimp.svg" alt="">
            </div>
            <p class="section-title-s">Mailchimp</p>
            <p class="section-paragraph-s">Run & manage proactive email campaigns based on support interactions.</p>
        </div>
    </div>
</section>

<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center position-relative">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">KPI Dashboard</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Bulk Excel Import/Export</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Reports</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Roles</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Report Export</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Alerts</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Scheduled Reports</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Customizable Fields</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end position-absolute" style="right: 0;bottom: 0;">
            <img src="./../../../../../assets/img/feature-img/Group1935.png" style="width: 80%;" alt="">
        </div>
    </div>
</section>