.header-section {
    background-image: url(./../../../../../assets/img/header-bg/uptime-feature2-right.svg), url(./../../../../../assets/img/header-bg/uptime-feature2-left-01.svg);
    background-size: contain,contain;
    background-repeat: no-repeat,no-repeat;
    background-position: right center, left center;
    background-color: #fff;
}