<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Ace Helpdesk Tickets with the power of Infinity</h1>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button my-5">Early bird access</a>
    </div>
</section>

<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-paragraph">The problem with most helpdesk solutions is that agents end up spending a lot of time and effort with repetitive tasks. This causes low collaboration with internal teams – leading to broken customer support journeys.</p>
                <p class="section-paragraph">Infraon Infinity provides a centralized helpdesk ticket platform to enable agents to respond to customers faster and smarter. Using automated workflows, you can ensure ticket prioritization - so that the right agent engages the right customer.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/Group21172.webp" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="key-features p-120 bg-grey">
    <h2 class="section-title text-center p-lr-60">
        Manage All Your Support Tickets Remotely With An Integrated Helpdesk
    </h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-3 col-lg-3 col-md- col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-headphones.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Highly collaborative support</p>
                <p class="section-paragraph-s text-start mb-0">
                    Synchronize multiple teams & empower them with ticket visibility to meet support metrics like CSAT, FCR, CES, etc. Respond to tickets from a unified location & enhance customer delight.
                </p>
            </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md- col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-suitcase.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Powerful Field service</p>
                <p class="section-paragraph-s text-start mb-0">
                    Get field service capabilities & automatically set up appointments. Equip best-fit technicians to resolve queries - with live updates to ensure quick resolution.
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md- col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-configure.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">SLA management</p>
                <p class="section-paragraph-s text-start mb-0">
                    Evaluate agent performance by intelligently managing all SLA metrics from a unified location. Accelerate the time-to-resolution time by optimizing workloads.
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md- col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-doc.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Insights-driven reporting</p>
                <p class="section-paragraph-s text-start mb-0">
                    Unlock robust data-rich reporting & analytics to get actionable business intelligence. Increase support continuity through intuitive & informed decision-making.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Use an automated ticketing system</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Track agent performance with advanced supervisor capabilities</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Customize workflows & rules to accelerate agent productivity</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Get an auto-suggestion feature to smartly manage support tickets</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Deliver self-service enablement to boost support resilience</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end">
            <img src="./../../../../../assets/img/smiling-guy.webp" style="width: 100%;" alt="">
        </div>
    </div>
</section>