<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center text-white mb-0">Network Fault Management</h1>
    <p class="header-desc text-center text-white my-5">Detect, prioritize & resolve NMS issues with fault & incident handling features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="white-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Tackle Your Downtime Issues With Smart Network Fault Management</p>
                <p class="section-paragraph">Infraon NMS scans all network devices to identify performance faults like poor connectivity or unexpected downtime with a pattern-based approach. Achieve high network availability with integrated incident capabilities.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/fault-management.webp" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/airplay.svg" alt="">
            </div>
            <p class="section-title-s">Automated Problem Diagnosis</p>
            <p class="section-paragraph-s">Zero-in, discover incident sources on problems with an automated real-time diagnosis of all network devices with root cause analysis to discover the incident sources.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/gear.svg" alt="">
            </div>
            <p class="section-title-s">Self-Healing Capabilities</p>
            <p class="section-paragraph-s">Predefine & integrate incident resolution workflows into your fault management process to reduce manual work & fix network outages.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/alert-octagon.svg" alt="">
            </div>
            <p class="section-title-s">Advanced Reporting</p>
            <p class="section-paragraph-s">Equip teams with reporting insights to customize & share data on faults & incidents - future-proofing network resilience.lex problems.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/bell-icon.svg" alt="">
            </div>
            <p class="section-title-s">Alerts & Notifications</p>
            <p class="section-paragraph-s">Configure alerts & notifications to stay updated on emerging faults to implement corrective measures & minimize downtimes.</p>
        </div>
    </div>
</section>


<section class="p-lr-120 primary-bg">
    <div class="row mx-0 d-flex align-items-center position-relative overflow-hidden bg-white-dots">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title text-white">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph text-white mb-0">Automated Network Discovery</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph text-white mb-0">Automated Network Topology</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph text-white mb-0">Network Performance Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph text-white mb-0">Real-Time Network Monitoring</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph text-white mb-0">Downtime Calculation</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph text-white mb-0">Quality Of Service-Based Faults</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph text-white mb-0">Fault Measure From Flow</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph text-white mb-0">Syslog-Based Fault Detection</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box position-absolute" style="right: 0;bottom: 0;"> 
            <img src="./../../../../../assets/img/smiling-guys-3.webp" style="width: 80%;" alt="">
        </div>
    </div>
</section>