<app-loader></app-loader>

<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center">Network <span class="primary-color">Hyper-Automation Suite</span></h1>
    <p class="header-desc text-center mb-3">Network hyper-automation to Effectively Define, Authorize, Deploy & Track Change</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Talk to us</a>
    </div>

    <p class="section-paragraph text-center p-tb-60">Features that makes Infraon NCCM</p>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <i class="fas fa-shield-alt me-3" style="padding: 17px; background: #27ae60; border-radius: 50%; color: #fff;"></i>
                <p class="mb-0">Network Automation</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <i class="far fa-clipboard me-3" style="padding: 17px 19px; background: #F2994A; border-radius: 50%; color: #fff;"></i>
                <p class="mb-0">API-based 3<sup>rd</sup> Party Tool Integration</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="sp-header-feature bg-white radius-10 p-4 mb-4 d-flex align-items-center">
                <i class="far fa-folder me-3" style="padding: 17px; background: #0d51d9; border-radius: 50%; color: #fff;"></i>
                <p class="mb-0">Network Policy Management</p>
            </div>
        </div>
    </div>
</section>

<section class="key-features p-120">
    <h2 class="section-title text-center p-lr-120 mb-0">
        Network Configuration Manager Software
    </h2>

    <p class="section-paragraph text-center my-5">Save time and reduce configuration errors with network change management software.</p>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <div class="d-flex align-items-center mb-4">
                    <img src="./../.../../../../../../assets/img/feature-icons/user-small.svg" style="max-width: 50px;" class="me-3" alt="">
                    <p class="section-title-s mb-0">
                        Strength Compliance Adherence
                    </p>
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Automate the configuration of network devices while adhering to compliance with regulatory standards.
                </p>
            </div>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <div class="d-flex align-items-center mb-4">
                    <img src="./../.../../../../../../assets/img/feature-icons/branch-small.svg" style="max-width: 50px;" class="me-3" alt="">
                    <p class="section-title-s mb-0">
                        Be Completely Vendor-Agnostic
                    </p>
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Get a vendor-agnostic solution for managing network applications across devices like routers, switches, bridges, etc.
                </p>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="border p-4 radius-10 h-100">
                <div class="d-flex align-items-center mb-4">
                    <img src="./../.../../../../../../assets/img/feature-icons/chat-small.svg" style="max-width: 50px;" class="me-3" alt="">
                    <p class="section-title-s mb-0">
                        Stay Connected In Real-Time
                    </p>
                </div>
                <p class="section-paragraph-s text-start mb-0">
                    Receive network-related real-time alerts on mobile devices or other channels every time any changes or events.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="p-lr-120">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/network.svg" alt="">
            </div>
            <p class="section-title-s">Network Discovery</p>
            <p class="section-paragraph-s">Supports multi-modes of discovery using typically required SNMP and device credentials.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/config.svg" alt="">
            </div>
            <p class="section-title-s">Configuration Management</p>
            <p class="section-paragraph-s">Offers comprehensive Network Configuration Backup & Recovery across all network devices. Instant detection and alerting on configuration changes with the option </p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/bell-icon.svg" alt="">
            </div>
            <p class="section-title-s">Multi-Channel Notification & Reports</p>
            <p class="section-paragraph-s">Capture complete inventory details of multi-vendor Network Devices including Host name, Serial Number, Vendor, Model, OS, Firmware Version, End-Of-Life, End-Of-Support details etc.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/shield.svg" alt="">
            </div>
            <p class="section-title-s">Network Security Auditing</p>
            <p class="section-paragraph-s">Complete network security auditing of target network devices with details on impacts and events. Monitor via “Live Tracking” all authorized user actions displaying CLI commands executed and their results with the option to store them as audits for historical analysis</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/alert.svg" alt="">
            </div>
            <p class="section-title-s">Vulnerability Detection</p>
            <p class="section-paragraph-s">Instantaneous detection of vulnerabilities in newly-discovered target network devices. Multi-level security tagging of device vulnerabilities based on CVSS Scores along with vulnerability details.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/file-icon.svg" alt="">
            </div>
            <p class="section-title-s">Routine Task Automation</p>
            <p class="section-paragraph-s">Automate common & repetitive tasks with respect to Network Operations with pre-configured templates allowing execution of tasks at multiple locations at the same instant.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/navigation.svg" alt="">
            </div>
            <p class="section-title-s">Audit Trails & Tracking</p>
            <p class="section-paragraph-s">Complete audit trail of device configurations, tool operations, job executions for end-to-end tracking of network operations and tool activities</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/document.svg" alt="">
            </div>
            <p class="section-title-s">Policy Compliance</p>
            <p class="section-paragraph-s">Flexible Rules & Policy Configuration Templates ensuring complete Security, Operational & Regulatory Policy Definition & Enforcement.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/stack.svg" alt="">
            </div>
            <p class="section-title-s">Inventory Tracking</p>
            <p class="section-paragraph-s">Capture complete inventory details of multi-vendor Network Devices including Host name, Serial Number, Vendor, Model, OS, Firmware Version, End-Of-Life, End-Of-Support details etc.</p>
        </div>
    </div>
</section>


<section class="p-120">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left">
                <img src="./../../../../../assets/img/Group-2342.png" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">Dashboards & Reporting</p>
                <p class="section-paragraph">Gain Realtime Insights into your IT service:</p>

                <div class="d-flex align-items-center my-4">
                    <img src="./../../../../../assets/img/checkmark-circle.svg" class="me-3" alt="">
                    <p class="section-paragraph mb-0">Configurable dashboards with multi-level drill down support</p>
                </div>
                <div class="d-flex align-items-center my-4">
                    <img src="./../../../../../assets/img/checkmark-circle.svg" class="me-3" alt="">
                    <p class="section-paragraph mb-0">Real-time Alerts based on escalation matrix</p>
                </div>
                <div class="d-flex align-items-center my-4">
                    <img src="./../../../../../assets/img/checkmark-circle.svg" class="me-3" alt="">
                    <p class="section-paragraph mb-0">Role-based Access to relevant individualistic data</p>
                </div>
                <div class="d-flex align-items-center my-4">
                    <img src="./../../../../../assets/img/checkmark-circle.svg" class="me-3" alt="">
                    <p class="section-paragraph mb-0">Array of Data Analytics for Incidents of all types</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title mb-0">Infraon NCCM Helps You Manage Change In All Its Forms, Complexity And Challenges</h2>
            <p class="section-paragraph my-5">Infraon NCCM helps you find out 'who' made 'what' changes, 'when' and 'why'. Further, it alerts you in real-time on your mobile phone (or through other immediate channels) when changes or events occur. It can automate the Configuration and Compliance of network devices across any scale of magnitude and numbers.</p>
    
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Scheduled And Bulk Discovery</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Reusable Templates For Bulk Changes</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">In-Built Diagnostic Tools</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Email & SMS Notification</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Comprehensive Auditing</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Multi-Tenancy & Role-Based Access</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">Scheduled Backup Operations</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">API-Based 3rd Party Tool Integration</p>
            </div>
            <div class="d-flex align-items-center my-4">
                <img src="./../../../../../assets/img/checkmark.svg" class="me-3" alt="">
                <p class="section-paragraph mb-0">PDF, Excel, CSV Export Options</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex align-items-end justify-content-end">
            <img src="./../../../../../assets/img/Group-2390.svg" class="w-100" alt="">
        </div>
    </div>
</section>


<section class="p-120 bg-grey">
    <h2 class="section-title my-5">Knowledge And Resource Centre</h2>
    <p class="section-paragraph text-start">Access our collateral library to learn more about our products</p>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="bg-white resources-container">
                <img src="./../../../../../assets/img/knowlege-icons/brochure.svg" alt="">
                <p class="section-paragraph my-3">Brochure</p>
                <a target="_blank" href="./../../../../../assets/doc/brochures/Infraon NCCM_Brochure.pdf">View <i class="fa-solid fa fa-arrow-right"></i></a>
            </div>
        </div>
        <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="bg-white resources-container">
                <img src="./../../../../../assets/img/knowlege-icons/flyer.svg" alt="">
                <p class="section-paragraph my-3">Flyer</p>
                <a target="_blank" href="./../../../../../assets/doc/flyers/infraondesk_flyer.pdf">View <i class="fa-solid fa fa-arrow-right"></i></a>
            </div>
        </div> -->
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="bg-white resources-container">
                <img src="./../../../../../assets/img/knowlege-icons/presentation.svg" alt="">
                <p class="section-paragraph my-3">Presentation</p>
                <a target="_blank" href="./../../../../../assets/doc/presentation/InfraonNCCM.pdf">View <i class="fa-solid fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="bg-white resources-container">
                <img src="./../../../../../assets/img/knowlege-icons/case-study.svg" alt="">
                <p class="section-paragraph my-3">Case Study</p>
                <a target="_blank" href="./../../../../../assets/doc/case-study/NCCM_Bank_Generic_Case_Study.pdf">View <i class="fa-solid fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>


<section class="p-120">

    <h2 class="section-title text-center p-b-60">Infraon Customers</h2>
    <div class="row mx-0">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of partners">
                <div class="slide">
                    <div class="d-flex align-items-center">
                        <img src={{slide.url}} alt="" class="px-5">
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>
    </div>
</section>