<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Helpdesk Collaboration</h1>
    <p class="header-desc text-center my-5">Run a well-oiled team to speed up resolution time with intuitive helpdesk features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Harness An Integrated Helpdesk With Impeccable Teamwork</p>
                <p class="section-paragraph">Infraon Helpdesk empowers you with collaborative tools to create a cross-functional culture of teamwork, efficiency, and productivity. Dawn a new era of full ticket visibility and improve key support metrics like CSAT, FCR, CES, etc.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/Group21141.png" style="width: 80%;" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/people.svg" alt="">
            </div>
            <p class="section-title-s">Collaborative Support Management</p>
            <p class="section-paragraph-s">Allow agents to frictionlessly work with other teams & SMEs to overcome complicated support challenges. Share problem-solving responsibilities & track ticket management performance.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/reload.svg" alt="">
            </div>
            <p class="section-title-s">Unified Support & Inventory Module</p>
            <p class="section-paragraph-s">Ensure seamless collaboration between helpdesk teams & field technicians with an integrated platform. Improve knowledge transfer & deliver transformational customer experiences.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/config.svg" alt="">
            </div>
            <p class="section-title-s">Quick Onboarding</p>
            <p class="section-paragraph-s">Accelerate the pace of onboarding new support team members with quick access to a centralized knowledge base. & Equip them with collaborative tools – right from day one.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/stack.svg" alt="">
            </div>
            <p class="section-title-s">Related Ticket Resolution</p>
            <p class="section-paragraph-s">Identify customer support tickets that involve similar issues & share progress/outcomes with all agents. Help multiple teams contribute to proactively managing future tickets.</p>
        </div>
    </div>
</section>

<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center position-relative">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">KPI Dashboard</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Bulk Excel Import/ Export</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Reports</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Roles</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Report Export</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Alerts</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Scheduled Reports</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Customizable Fields</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end position-absolute" style="right: 0;bottom: 0;">
            <img src="./../../../../../assets/img/feature-img/Group1935.png" style="width: 80%;" alt="">
        </div>
    </div>
</section>