<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center text-white mb-0">Network Inventory Management (NIM)</h1>
    <p class="header-desc text-center text-white my-5">Manage all your end-to-end network inventory with one-stop-shop NIM features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="white-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Unify Device Lifecycles With Network Inventory Management</p>
                <p class="section-paragraph">Infraon NMS streamlines and de-risks multi-vendor network inventory management with a single source of truth for device-related insights. Improve auditing/budgeting and maximize network infrastructure ROI.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/nms-inventory-main-illustration.svg" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/disc.svg" alt="">
            </div>
            <p class="section-title-s">Network Planning Optimization</p>
            <p class="section-paragraph-s">Enhance your network capacity planning, from onboarding to end-of-life, with a full view of IT & non-IT inventory. Use automated workflows to speed up the planning process.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/config.svg" alt="">
            </div>
            <p class="section-title-s">Network Configuration Management</p>
            <p class="section-paragraph-s">Eliminate long-drawn configuration processes & organize/update/search network device information. Categorize them based on filters that suit your unique requirements.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/cell-phones-small.svg" alt="">
            </div>
            <p class="section-title-s">Real-Time Device Tracking</p>
            <p class="section-paragraph-s">Get an integrated tool that allows you to track your IT & non-IT network devices, no matter the vendor, in real-time. Quickly improve your decision-making abilities.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/file-icon.svg" alt="">
            </div>
            <p class="section-title-s">Customizable Reporting</p>
            <p class="section-paragraph-s">Take control of the moving parts of your network inventory lifecycle with customizable reports that offer insights on network devices.<p>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center position-relative overflow-hidden bg-white-dots">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Automated Inventory Scanning</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Network Topology</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Network Discovery</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Integrated Ticket Monitoring</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box position-absolute" style="right: 0;bottom: 0;"> 
            <img src="./../../../../../assets/img/woman-1.webp" style="width: 80%;" alt="">
        </div>
    </div>
</section>