<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center text-white mb-0">Network QoS Monitoring</h1>
    <p class="header-desc text-center text-white my-5">Monitor the flow of network traffic with powerful QoS tracking features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="white-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Accelerate & Improve Network QOS Monitoring</p>
                <p class="section-paragraph">Infraon NMS keeps your network traffic under check by continuously monitoring and analyzing – based on categories like the class of service. Easily deal with at-risk SLAs by tracking their progress in real-time – and without facing any obstacles.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/nms-qos-main-illustration.png" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/wifi-network.svg" alt="">
            </div>
            <p class="section-title-s">Bandwidth Insights</p>
            <p class="section-paragraph-s">Receive deep-dive insights on consumption data to locate which networks are consuming the most bandwidth.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/monitor.svg" alt="">
            </div>
            <p class="section-title-s">Traffic Flow Monitoring</p>
            <p class="section-paragraph-s">Monitor the traffic flow of network devices & keep track of key parameters like packet losses, jitter, latency bandwidth, etc.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/file-icon.svg" alt="">
            </div>
            <p class="section-title-s">Customizable QoS Reporting</p>
            <p class="section-paragraph-s">Assess Quality of Service policy performance with customized reporting modules to capture & showcase detailed traffic analysis.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/headphones.svg" alt="">
            </div>
            <p class="section-title-s">Qos External Support</p>
            <p class="section-paragraph-s">Comprehensively measure network performance with full support for Cisco IP SLA, Juniper RPA, Huawei NQA.</p>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center position-relative overflow-hidden bg-white-dots">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Analysis Of Traffic Patterns</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Alerts & Notifications</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Advanced Dashboard</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box position-absolute" style="right: 0;bottom: 0;"> 
            <img src="./../../../../../assets/img/woman-1.webp" style="width: 80%;" alt="">
        </div>
    </div>
</section>