<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Discover & Manage IT Events With the Power of Infinity</h1>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button my-5">Early bird access</a>
    </div>
</section>

<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-paragraph">Having an IT event manager can go a long way to ensure service availability and compliance across the enterprise. However, with all the possible event noise, it’s challenging to find immediate clarity on infrastructure health.</p>
                <p class="section-paragraph">With Infraon Infinity, you can access, publish, and download event data to remotely improve your infrastructure availability and performance. Use automated workflows to detect only genuine events and reduce inconsequential noise.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-end">
                <img src="./../../../../../assets/img/feature-img/infinity-feature-1-main-img.png" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="key-features p-120 bg-grey">
    <h2 class="section-title text-center p-lr-60">
        Detect, Correlate & Manage All Your IT Events <br> With Intelligent Insights
    </h2>

    <div class="row mx-0">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-calander.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Automated event management</p>
                <p class="section-paragraph-s text-start mb-0">
                    Use automated event management workflows for routing, deduplication, etc. & help teams avoid repetitive tasks.
                </p>
            </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-grid.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Automated remediation</p>
                <p class="section-paragraph-s text-start mb-0">
                    Manage incidents, requests, changes, etc., with automated remediation tasks to resolve issues based on predefined rules.
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-doc.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Automated root cause analysis</p>
                <p class="section-paragraph-s text-start mb-0">
                    Use automated root cause analysis to resolve issues while identifying any upstream or downstream dependencies.
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-eye.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Automated event visibility</p>
                <p class="section-paragraph-s text-start mb-0">
                    Closely watch over IT events relating to faults, updates, changes, etc., with 360-degree visibility in your multi-vendor ecosystem.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Immediately detect events in real-time</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Easily log in IT events with advanced filter options</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Enable smart event correlation to eliminate IT noise</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Leverage actionable event insights</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Receive intelligent event alerts</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end">
            <img src="./../../../../../assets/img/smiling-guy.webp" style="width: 100%;" alt="">
        </div>
    </div>
</section>