<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">API Monitoring</h1>
    <p class="header-desc text-center my-5">Continuously monitor API health in real-time with performance monitoring features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Analyze & Accelerate API Performance With End-To-End Monitoring</p>
                <p class="section-paragraph">Infraon ITIM prevents broken APIs from impacting your IT infrastructure by letting you validate their response data with ease. Automatically spot trends and patterns, along with an inbuilt intelligent alert and escalation mechanism.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/itim-feature2-main-img.webp" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/cell-phones-small.svg" alt="">
            </div>
            <p class="section-title-s">API Availability & Performance</p>
            <p class="section-paragraph-s">Check API availability by quickly validating data from relevant endpoints to increase & maintain response time. Establish a smart alerting system to track issues in real-time.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/brackets.svg" alt="">
            </div>
            <p class="section-title-s">Powerful Dashboard & Reporting</p>
            <p class="section-paragraph-s">Understand your API health status with a proactive & data-rich dashboard. Uncover trends & prevent future API errors that cause outages.</p>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center position-relative bg-black-dots">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">  Network Monitoring</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Database Monitoring</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Exchange Server Monitoring</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0"> Web Server Monitoring</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Website/URL Monitoring</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">QoS And CoS Monitoring</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Integrated Ticket Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Alerts & Notifications</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end position-absolute" style="right: 0;bottom: 0;">
            <img src="./../../../../../assets/img/woman-1.webp" style="width: 80%;" alt="">
        </div>
    </div>
</section>