<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Start automating your workflows with the power of Infinity</h1>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button my-5">Early bird access</a>
    </div>
</section>

<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-paragraph">Delayed decision-making is the bane of modern enterprises as manual workflows take up a huge amount of time and effort. They are also prone to errors that lead to ineffective or mistimed business decisions.</p>
                <p class="section-paragraph">Infraon Infinity puts the power of workflow automation at the fingertips of IT teams to increase their productivity. You can automate mission-critical processes with prebuilt templates and accelerators to simplify and speed up deployment.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/Group21611.webp" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="key-features p-120 bg-grey">
    <h2 class="section-title text-center p-lr-60">
        Modernize & Streamline Your Critical Business Process Workflows
    </h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-3 col-lg-3 col-md- col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-command.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Ready-to-use workflow templates</p>
                <p class="section-paragraph-s text-start mb-0">
                    Kick-start workflow automation with a vast library of prebuilt, customizable templates to accelerate key processes.
                </p>
            </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md- col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-grid.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Workflow automation accelerators</p>
                <p class="section-paragraph-s text-start mb-0">
                    Uncomplicate painstaking workflows with automation accelerators to streamline end-to-end tasks.
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md- col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-layout.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">KPI-focused dashboard</p>
                <p class="section-paragraph-s text-start mb-0">
                    Use a powerful dashboard to monitor workflow automation metrics – with alerting & reporting power.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Use prebuilt workflow templates or customize based on unique KPIs</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Easily integrate new workflows in key business processes</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Automate how you monitor your IT & non-IT infrastructure</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Automate fault & incident management</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Configure & automate alert & notification rules</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end">
            <img src="./../../../../../assets/img/smiling-guy.webp" style="width: 100%;" alt="">
        </div>
    </div>
</section>