<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">IT Application Performance Monitoring</h1>
    <p class="header-desc text-center my-5">Increase application performance & resilience with advanced monitoring features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Monitor All IT Applications To Increase Uptime & Performance</p>
                <p class="section-paragraph">Infraon ITIM detects issues that affect databases exchange/web servers or any custom apps without dealing with complex application software. Be equipped with actionable reporting capabilities to pinpoint and resolve critical IT application issues.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/itim-feature-3-main-illustration.svg" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/eye.svg" alt="">
            </div>
            <p class="section-title-s">Database Monitoring (SQL)</p>
            <p class="section-paragraph-s">Get a clear picture of database performance by monitoring key metrics like SQL query & response time. Reduce application delays or inconsistencies & reduce user frustration.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/calander.svg" alt="">
            </div>
            <p class="section-title-s">Web Server Monitoring</p>
            <p class="section-paragraph-s">Measure availability, performance & health of your web servers that host business-critical applications. Unearth usage patterns to optimize overall performance.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/grid.svg" alt="">
            </div>
            <p class="section-title-s">Exchange Server Monitoring</p>
            <p class="section-paragraph-s">Free your exchange server admins from dealing with application downtime concerns. Give them a complete view into points of failures to troubleshoot issues in real-time.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/like.svg" alt="">
            </div>
            <p class="section-title-s">Service/Process Availability & Performance</p>
            <p class="section-paragraph-s">Discover & diagnose complex issues that affect IT-related service & process availability while monitoring performance to increase IT effectiveness.</p>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center position-relative bg-black-dots">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 p-tb-120">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0"> Server Topology</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Inventory Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">SLA Management</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0"> Event Management</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Network Monitoring</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Reports & Dashboards</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Alerts & Notifications</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Integrated Incident/Fault Management</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end position-absolute" style="right: 0;bottom: 0;">
            <img src="./../../../../../assets/img/woman-1.webp" style="width: 80%;" alt="">
        </div>
    </div>
</section>