<footer class="">
    <h2 class="section-title text-white text-center p-lr-120">{{footerTitle}}</h2>
    <div class="d-flex justify-content-center">
        <a class="white-button footer-btn">Early Bird Access</a>
    </div>

    <div class="row mx-0 m-t-120">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <img src="assets/img/infinity-logos/web-logo/logo-infraon-white.svg" alt="">
            <p class="footer-info text-white">The Infraon suite of products caters to IT, Access, Processes, Services and Compliance.</p>
            <img src="assets/img/pinkelephant.png" alt="">
            <p class="footer-info color-60 mb-5">© Infraon Corp. All rights reserved</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <p class="footer-titles color-60">Products</p>
            
            <div class="row mx-0">
                <ul class="p-0 col-lg-7 col-md-7 col-sm-12 col-xs-12 mb-0">
                    <li class="footer-links my-4"><a routerLink="/infraon-infinity" class="text-white">Infraon Infinity Platform</a></li>
                    <li class="footer-links my-4"><a routerLink="/infraon-itsm" class="text-white">Infraon ITSM</a></li>
                    <li class="footer-links my-4"><a routerLink="/infraon-helpdesk" class="text-white">Infraon Helpdesk</a></li>
                    <li class="footer-links my-4"><a routerLink="/infraon-itim" class="text-white">Infraon ITIM</a></li>
                    <li class="footer-links my-4"><a routerLink="/infraon-nms" class="text-white">Infraon NMS</a></li>
                    <li class="footer-links my-4"><a routerLink="/infraon-uptime" class="text-white">Infraon Uptime</a></li>
                    <li class="footer-links my-4"><a routerLink="/infraon-assets" class="text-white">Infraon Assets</a></li>
                </ul>
                <ul class="p-0 col-lg-5 col-md-5 col-sm-12 col-xs-12 mb-0">
                    <li class="footer-links my-4"><a routerLink="/infraon-aiops" class="text-white">Infraon AIOps</a></li>
                    <li class="footer-links my-4"><a routerLink="/infraon-secura" class="text-white">Infraon SecuRA</a></li>
                    <li class="footer-links my-4"><a routerLink="/infraon-desk" class="text-white">Infraon Desk</a></li>
                    <li class="footer-links my-4"><a routerLink="/infraon-ims" class="text-white">Infraon IMS</a></li>
                    <li class="footer-links my-4"><a routerLink="/infraon-oss" class="text-white">Infraon OSS</a></li>
                    <li class="footer-links my-4"><a routerLink="/infraon-nccm" class="text-white">Infraon NCCM</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="footer-titles color-60">Quick Links</p>

            <div class="row mx-0">
                <ul class="p-0 col-12 mb-0">
                    <li class="footer-links my-4"><a routerLink="/resources" class="text-white">Resources</a></li>
                    <li class="footer-links my-4"><a routerLink="/support" class="text-white">Support</a></li>
                    <li class="footer-links my-4"><a href="" class="text-white">Blog</a></li>
                    <li class="footer-links my-4"><a routerLink="/contact-us" class="text-white">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="social-media mb-5">
                <p class="footer-titles color-60">Social Media</p>
                <a href="https://www.facebook.com/Infraon-107350731609994"><img src="assets/img/facebook-svgrepo-com.svg" alt=""></a> &nbsp; <a href="https://twitter.com/infraoncorp"><img src="assets/img/twitter-svgrepo-com-01.svg" alt=""></a> &nbsp; <a href="https://www.linkedin.com/company/infraon"><img src="assets/img/linkedin-svgrepo-com-01.svg" alt=""></a>
            </div>
            <div class="social-media mb-5">
                <p class="footer-titles color-60">Contact us</p>
                <a href="mailto:sales@infraon.io"><p class="m-0 footer-links"><img src="assets/img/closed-envelope-svgrepo-com-01.svg" alt=""> &nbsp; sales@infraon.io</p></a>
            </div>
            <div class="social-media">
                <p class="footer-titles color-60">Read our reviews</p>
                <div class="d-flex">
                    <a href="https://www.g2.com/products/infraon-desk/reviews#reviews" class="mr-2" target="_blank"><img src="assets/img/g2-seeklogo.com.svg" alt=""></a>
                <a href="https://www.peerspot.com/vendors/everestims" target="_blank"><img style="min-height: 50px;" src="assets/img/peerspot.svg" alt=""></a>
                </div>
            </div>
            <a href="https://www.gartner.com/reviews/market/it-infrastructure-monitoring-tools/vendor/everestims-technologies/reviews?marketSeoName=it-infrastructure-monitoring-tools&vendorSeoName=everestims-technologies" target="_blank"><img style="max-height: 50px;" src="assets/img/logo-gpi-2.png" alt=""></a>
        </div>
    </div>
</footer>