.header-section {
    background-image: url(./../../../../../assets/img/header-bg/itsm-feature-2-header-bg-right-01.svg), url(./../../../../../assets/img/header-bg/itsm-feature-2-header-bg-left-01.svg);
    background-size: contain,contain;
    background-repeat: no-repeat,no-repeat;
    background-position: right center, left center;
}