<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Manage all your Servers & Applications with the power of Infinity</h1>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button my-5">Early bird access</a>
    </div>
</section>

<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-paragraph">There are so many moving components in IT ecosystems that blind spots tend to occur in places that aren’t closely monitored. It becomes impossible to zero in on issues affecting databases exchange, web servers or any custom apps.</p>
                <p class="section-paragraph">Infraon Infinity improves server and application management by giving you a full view of your IT infrastructure. Use a dashboard-driven approach for monitoring, diagnosis, and incident management with end-to-end reporting capabilities.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/infinity-feature-3-main-img-01.webp" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="key-features p-120 bg-grey">
    <h2 class="section-title text-center p-lr-60">
        Dive Deep With Data & Monitor Your IT <br> Applications & Servers
    </h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-headphones.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Service/process availability & performance</p>
                <p class="section-paragraph-s text-start mb-0">
                    Detect, diagnose & resolve availability & performance issues. Get real-time insights with a smart alerting system for better capacity planning & application responsiveness.
                </p>
            </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-monitor.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Advanced application monitoring</p>
                <p class="section-paragraph-s text-start mb-0">
                    Monitor databases (SQL), web servers & exchange servers from a single location. Free admins from dealing with application downtime concerns & reduce user frustration.
                </p>
            </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-pulse.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Server health management</p>
                <p class="section-paragraph-s text-start mb-0">
                    Evaluate & improve server health with real-time data visualizations that offer deep-dive insights on availability. Quickly troubleshoot IT network-related issues.
                </p>
            </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-monitor.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Advanced server monitoring</p>
                <p class="section-paragraph-s text-start mb-0">
                    Monitor the availability & performance of servers - Windows, Linux or Solaris, AIX, etc. Use root cause analysis to understand under/over-usage, disk utilization, etc.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Use network discovery templates</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Conduct advanced network mapping</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Identify changes to network topology in real-time</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Get deep-dive network performance reports</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end">
            <img src="./../../../../../assets/img/smiling-guy.webp" style="width: 100%;" alt="">
        </div>
    </div>
</section>


<section class="p-lr-120 p-t-120">
    <h2 class="section-title text-center p-b-60">An Integrated Platform To Quickly Overcome More IT & Network Challenges</h2>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Network Monitoring</p>
                <p class="section-paragraph">Infraon Infinity offers a vendor-agnostic network monitoring system with on-demand flexibility and scalability to add/replace vendors.</p>
                <p class="section-paragraph">Whether on-premises, cloud-hosted, or hybrid, accelerate network inventory management with automated topology & discovery. You can also monitor ISP & IP/MPLS link availability.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/Group21161.webp" style="width: 80%;" alt="">
            </div>
        </div>
    </div>

    <div class="row p-tb-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left justify-content-center">
                <img src="./../../../../../assets/img/feature-img/infinity-feature-2-main-img.png" style="width: 80%;" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">Incident & Fault Management</p>
                <p class="section-paragraph">Infraon Infinity recognizes that incidents and faults are inevitable in any network ecosystem. It provides an integrated system to manage IT and hardware issues.</p>
                <p class="section-paragraph">Get automated problem diagnosis capabilities to catch network issues in real-time – with inbuilt root cause analysis to discover their sources.</p>
            </div>
        </div>
    </div>

    <div class="row p-tb-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">SLA Management</p>
                <p class="section-paragraph">Infraon Infinity equips you with automated workflows to take control of all your network device SLA journeys.</p>
                <p class="section-paragraph">Get an intuitive and interactive dashboard to configure security & compliance protocols, set rules, and monitor at-risk SLAs – with real-time insights.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/infinity-feature-4-main-img.svg" style="width: 80%;" alt="">
            </div>
        </div>
    </div>
</section>