<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Manage your IT & Hardware Assets with the power of Infinity</h1>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button my-5">Early bird access</a>
    </div>
</section>

<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-paragraph">Tracking IT assets like networks, servers, desktops, CCTV, video phones, etc., can be brutal when working with multiple vendors. It becomes even more confusing when you depend on spreadsheets to sort out critical data!</p>
                <p class="section-paragraph">With Infraon Infinity, you get a single platform to remotely manage your IT, non-IT, and fixed asset lifecycles across your ecosystem. You can also use actionable insights to accelerate monitoring of SLAs, licenses, incidents, etc.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/infinity-feature-3-main-img-01.webp" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="key-features p-120 bg-grey">
    <h2 class="section-title text-center p-lr-60">
        Maximize Your IT & Non-IT Asset ROI – From Planning To Retirement
    </h2>

    <div class="row mx-0">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-calander.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Lifecycle management</p>
                <p class="section-paragraph-s text-start mb-0">
                    Streamline IT asset lifecycles, from planning & deploying to support & retiring or replacing. Extract true business value from IT assets.
                </p>
            </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-grid.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Stock & Inventory</p>
                <p class="section-paragraph-s text-start mb-0">
                    Accelerate the speed at which you manage IT & hardware stock & inventory. Boost your asset ROI & improving availability.
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-doc.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Complete Tracking</p>
                <p class="section-paragraph-s text-start mb-0">
                    Track all your assets by monitoring procurement, expiry, status, etc. Get an online geo-map view or a drill-down map view.
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-eye.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Integrated Ticketing</p>
                <p class="section-paragraph-s text-start mb-0">
                    Use a prebuilt IT ticket management for supporting assets - including self-service options like chatbots.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Rapidly scan & search inventory endpoints for quick deployment</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Use web UI & barcode support to track the physical location of assets</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Choose agent or agent-less desktop scanning - based on asset location</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Track asset license overflow & ensure total compliance</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Manage end-to-end IT & hardware asset configuration tracking</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end">
            <img src="./../../../../../assets/img/smiling-guy.webp" style="width: 100%;" alt="">
        </div>
    </div>
</section>


<section class="p-120">
    <h2 class="section-title text-center p-b-60">Command The Availability & Performance Of Your IT & Non-IT Assets</h2>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Network & Server Monitoring</p>
                <p class="section-paragraph">Infraon Infinity provides a multi-vendor network and server monitoring system that gives you a 360-degree view of your IT & hardware infrastructure.</p>
                <p class="section-paragraph">Increase network and server availability while adding or replacing vendors – without dealing with endless approval emails and spreadsheets.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/itim-feature2-main-img.webp" style="width: 80%;" alt="">
            </div>
        </div>
    </div>

    <div class="row p-tb-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left justify-content-center">
                <img src="./../../../../../assets/img/feature-img/infinity-feature-2-main-img.png" style="width: 80%;" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">Incident & Fault Management</p>
                <p class="section-paragraph">Infraon Infinity recognizes that incidents and faults are inevitable in any asset ecosystem. It provides an integrating system to manage IT and hardware issues with automated problem diagnosis capabilities to catch issues in real-time.</p>
                <p class="section-paragraph">With inbuilt root cause analysis, you can quickly discover fault sources.</p>
            </div>
        </div>
    </div>
</section>