<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">IT Asset Management Software (ITAM)</h1>
    <p class="header-desc text-center my-5">Meet business & service goals with end-to-end IT asset management solutions</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Say Goodbye To Those Ineffective IT Asset Management Tools</p>
                <p class="section-paragraph">Infraon Assets fuels your IT asset management lifecycles with cutting-edge automated workflows, real-time tactical insights, and secure access control protocols. Unshackle yourself from spreadsheet woes and multiple IT asset management software.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-end">
                <img src="./../../../../../assets/img/feature-img/itam-main-illustration.png" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/stopwatch.svg" alt="">
            </div>
            <p class="section-title-s">IT Asset Lifecycle Management</p>
            <p class="section-paragraph-s">Use an end-to-end IT asset management tool to manage lifecycles (planning, acquiring, implementing, maintaining & retiring) to align IT decisions with business goals.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/disc.svg" alt="">
            </div>
            <p class="section-title-s">IT Hardware Asset Management</p>
            <p class="section-paragraph-s">Track all physical components, such as laptops, desktops, servers, etc., to lower the total cost of enabling the smooth IT asset functioning.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/shield.svg" alt="">
            </div>
            <p class="section-title-s">Software Asset Management</p>
            <p class="section-paragraph-s">Centralize & manage the purchase, deployment, maintenance & disposal of IT software components to mitigate security risks and reduce time/effort/costs.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/cd-stack.svg" alt="">
            </div>
            <p class="section-title-s">Vendor Management</p>
            <p class="section-paragraph-s">Monitor performance of your IT asset management software vendors with real-time data – avoiding contract oversights & setting measurable vendor KPIs with complete transparency.
                </p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/map-marker.svg" alt="">
            </div>
            <p class="section-title-s">Location Management</p>
            <p class="section-paragraph-s">Never lose sight of any of your asst needs & track their real-time location status across teams, functions, regions, or premises.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/ticking.svg" alt="">
            </div>
            <p class="section-title-s">Integrated Ticketing</p>
            <p class="section-paragraph-s">Unify IT ticket management with an inbuilt ticketing system that offers multi-channel support with self-service options like chatbots.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/wifi-network.svg" alt="">
            </div>
            <p class="section-title-s">Network Discovery</p>
            <p class="section-paragraph-s">Track IT assets that are connected to the company network – accessed by any business user – to better manage licenses and eliminate redundant costs.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/branch-small.svg" alt="">
            </div>
            <p class="section-title-s">Agent-Based Discovery</p>
            <p class="section-paragraph-s">Get deep-dive IT asset insights at the agent- level, including usage data tracking, while avoiding any network quality or availability issues.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/config.svg" alt="">
            </div>
            <p class="section-title-s">Access Control</p>
            <p class="section-paragraph-s">Gain control by ensuring least privilege access privileges to IT assets with authentication & authorization protocols – stay clear of compliance risks.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/alert.svg" alt="">
            </div>
            <p class="section-title-s">Low Stock Alerts</p>
            <p class="section-paragraph-s">Be instantly notified by low stock alerts and create a culture of IT asset availability & prevent understocking that can cause business disruptions.</p>
        </div>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 d-flex align-items-center p-b-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left justify-content-center">
                <img src="./../../../../../assets/img/feature-img/Group1935.png" style="width: 70%;" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Key Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">KPI Dashboard</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Scheduled Reports</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Reports</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Roles</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Report Export</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Alerts</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Bulk Excel Import/Export</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Customizable Fields</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
