<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">The Complete Asset Management Solution</h1>
    <p class="header-desc text-center my-5">Take charge of your IT & non-IT asset lifecycles with an integrated & intelligent source of truth.</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>

<section class="p-120">
    <div class="row mx-0 d-flex align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Manage All Your Infrastructure Under One Roof With Infraon Assets</h2>

            <div class="row mx-0">
                <div class="col-12 px-0">
                    <div class="d-flex align-items-start radius-10 border p-4 my-3">
                        <img src="./../../../../../assets/img/feature-icons/assets-features-icons-01.svg" class="me-3" alt="">
                        <p class="section-paragraph mb-0">Tied up with several vendors to manage software & hardware? Track your IT & non-IT asset lifecycles, from requisitions to replacement & retirement.</p>
                    </div>
                </div>
                <div class="col-12 px-0">
                    <div class="d-flex align-items-start radius-10 border p-4 my-3">
                        <img src="./../../../../../assets/img/feature-icons/assets-features-icons-02.svg" class="me-3" alt="">
                        <p class="section-paragraph mb-0">Unable to turn your asset data into BI insights? Extract deep-dive insights to measure ROI & track financial, compliance & legal needs.</p>
                    </div>
                </div>
                <div class="col-12 px-0">
                    <div class="d-flex align-items-start radius-10 border p-4 my-3">
                        <img src="./../../../../../assets/img/feature-icons/assets-features-icons-03.svg" class="me-3" alt="">
                        <p class="section-paragraph mb-0">Affected by security threats due to poor access control capabilities? Be equipped with user verification protocols to mitigate/prevent risks.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-end">
            <div class="d-flex bg-grey align-items-end justify-content-end pt-5 overflow-hidden" style="border-radius: 36px;">
                <img src="./../../../../../assets/img/feature-img/assets-features-illutration.png" style="width: 100%;" alt="">
            </div>
        </div>
    </div>
</section>

<section class="p-lr-120 p-b-120">
    <h2 class="section-title text-center"><i><b>“Through 2023, the software text-center asset management managed services market will continue to grow due to client challenges managing multiple environments.”</b></i></h2>
    <h3 class="text-center">- Gartner</h3>
</section>

<section class="primary-bg powered-by p-120">
    <h2 class="text-white text-center">Our Track Record</h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/Group-1648.png" class="d-block" alt="">
            <p class="text-white"><b>1M+</b> assets tracked and managed</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/Group-1649.png" class="d-block" alt="">
            <p class="text-white pe-5"><b>100K</b> Software Assets Tracked</p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <img src="./../../../../../assets/img/feature-icons/Group-1651.png" class="d-block" alt="">
            <p class="text-white"><b>20+</b> Years of industry Asset Management experience</p>
        </div>
    </div>
</section>


<section class="p-120">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Reclaim Business Efficiency With Total Asset Control</p>
                <p class="section-paragraph">Infraon Assets demystifies the ownership of asset management by controlling your IT and non-IT asset lifecycles with a single powerful platform. It helps optimize your overall asset usage based on unique business goals. You can also increase asset lifetime, improve deployment, ensure compliance, and achieve total business continuity.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-end">
                <img src="./../../../../../assets/img/feature-img/assets-features-icon1.png" alt="">
            </div>
        </div>
    </div>

    <div class="row p-tb-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left justify-content-end">
                <img src="./../../../../../assets/img/feature-img/assets-features-icon2.png" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">Go From Paperless To Spreadsheet-Less</p>
                <p class="section-paragraph">Infraon Assets takes the digitalization of asset management a step further by eliminating spreadsheet-intensive workflows. You get an integrated data-rich view of your assets to make the right decision at the right time with BI insights. You can also use the agent-based model or go agentless – with no deployment hassles.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Get Clear Insights On Measurable Asset ROI</p>
                <p class="section-paragraph">Infraon Assets empowers you to understand each asset’s ROI in terms of spending, maintenance, and upkeep. You get access to potential costs about replacement, refurbishment, end-of-life, etc., to make informed purchasing decisions. You can also eliminate unnecessary expenses and show measurable ROI to finance departments.
                </p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-end">
                <img src="./../../../../../assets/img/feature-img/assets-features-icon3.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/mask.svg" alt="">
            </div>
            <p class="section-paragraph-s">Deploy faster & easier with rapid ‘scan/search’ for inventory endpoints</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/user-check.svg" alt="">
            </div>
            <p class="section-paragraph-s">Track physical location of assets via web UI, with barcode/code support</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/file-icon.svg" alt="">
            </div>
            <p class="section-paragraph-s">Get agent-based desktop asset management (support for Windows & Linux)</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/monitor.svg" alt="">
            </div>
            <p class="section-paragraph-s">Check for overflow in your asset license usage & ensure total compliance</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/shield.svg" alt="">
            </div>
            <p class="section-paragraph-s">Use a centralized configuration management database to stay on top of asset goals</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/stopwatch.svg" alt="">
            </div>
            <p class="section-paragraph-s">Go beyond traditional IT support with an integrated and robust ITSM system</p>
        </div>
    </div>
</section>

<section class="p-lr-120 p-b-120">
    <h2 class="section-title text-center p-b-60">Infraon Customers</h2>
    <div class="row mx-0">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of partners">
                <div class="slide">
                    <div class="d-flex align-items-center">
                        <img src={{slide.url}} alt="" class="px-5">
                    </div>
                </div>
            </ng-template>  
          </owl-carousel-o>
    </div>
</section>