<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Seamlessly manage SLAs with the power of Infinity</h1>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button my-5">Early bird access</a>
    </div>
</section>

<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-paragraph">The inability to manage IT & non-IT SLAs can be telling, as it’s a matter of time before you experience availability and reliability issues. You may also end up facing SLA-related compliance problems that disrupt your day-to-day business.</p>
                <p class="section-paragraph">Infraon Infinity makes it tremendously easy to control your IT & non-IT application SLA journeys for maximum performance. You get an intelligent dashboard to configure protocols, set rules, and monitor at-risk SLAs.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/infinity-feature-4-main-img.svg" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="key-features p-120 bg-grey">
    <h2 class="section-title text-center p-lr-60">
        Leave No Gap Unbridged In Your SLA Management <br> With End-To-End Features
    </h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-3 col-lg-3 col-md- col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-refresh.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Unified lifecycle management</p>
                <p class="section-paragraph-s text-start mb-0">
                    Manage all SLA lifecycles from a single location to enable adherence to service commitments– based on ITIL best practices.
                </p>
            </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md- col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-refresh.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Performance Monitoring</p>
                <p class="section-paragraph-s text-start mb-0">
                    Deploy, preview & share critical SLA data on a timely basis to extract real-time insights on availability & performance.
                </p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md- col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-refresh.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Support - Business Hours & Holidays</p>
                <p class="section-paragraph-s text-start mb-0">
                    Drive service continuity during business hours & official holidays through scheduled support for networks, applications & servers.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Start using customizable prebuilt SLA workflows</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Keep track of all your service commitments in real-time</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Enable real-time compliance tracking</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Receive meaningful SLA alerts & notifications</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Get advanced SLA reporting capabilities</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end">
            <img src="./../../../../../assets/img/smiling-guy.webp" style="width: 100%;" alt="">
        </div>
    </div>
</section>