<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Untangle your network topology with the power of Infinity</h1>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button my-5">Early bird access</a>
    </div>
</section>

<section class="p-120">
    <div class="row mx-0 align-items-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-paragraph">Strengthening network topology is often seen as a cumbersome process that has different teams operating in silos. But understanding how network devices are mapped is crucial to being able to optimize traffic flows.</p>
                <p class="section-paragraph">Infraon Infinity offers automated network topology capabilities to get a clear picture of all your IT & non-IT devices. Unearth insights on network device mapping while monitoring the performance of your network devices.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/itam-main-illustration.png" width="80%" alt="">
            </div>
        </div>
    </div>
</section>


<section class="key-features p-120 bg-grey">
    <h2 class="section-title text-center p-lr-60">
        Auto-Discover & Map Your Devices With <br> Network Topology Capabilities
    </h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-wifi.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Network Discovery</p>
                <p class="section-paragraph-s text-start mb-0">
                    Enrich your network topology with automated discovery rule engines, schedulers & profile managers. Discover every network device in your enterprise.
                </p>
            </div>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="p-4 h-100 bg-white radius-10">
                <div class="d-flex align-items-center mb-5">
                    <img src="./../.../../../../../../assets/img/feature-icons/infinity-map.svg" class="me-3 infinity-beige" alt="">
                </div>
                <p class="section-title-s text-start">Intelligent Device Mapping</p>
                <p class="section-paragraph-s text-start mb-0">
                    Get a graphical view of network devices & easily map relationships between processes & users. Ensure high network availability & proactive troubleshooting.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 bg-grey">
    <div class="row mx-0 d-flex align-items-center">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Other Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Use network discovery templates</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Conduct advanced network mapping</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Identify changes to network topology in real-time</p></li>
                    <li class="d-flex align-items-start my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Get deep-dive network performance reports</p></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 key-features-img-box d-flex justify-content-end">
            <img src="./../../../../../assets/img/smiling-guy.webp" style="width: 100%;" alt="">
        </div>
    </div>
</section>


<section class="p-lr-120 p-t-120">
    <h2 class="section-title text-center p-b-60">Manage Your Network-Related Incidents & SLAs With A Single Platform</h2>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Incident & Fault Management</p>
                <p class="section-paragraph">Infraon Infinity recognizes that incidents and faults are inevitable in any network ecosystem. It provides an integrated system to manage IT and hardware issues.</p>
                <p class="section-paragraph">Get automated problem diagnosis capabilities to catch network issues in real-time – with inbuilt root cause analysis to discover their sources.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-center">
                <img src="./../../../../../assets/img/feature-img/event-management-main-illustration.svg" style="width: 80%;" alt="">
            </div>
        </div>
    </div>

    <div class="row p-tb-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left justify-content-center">
                <img src="./../../../../../assets/img/feature-img/infinity-feature-4-main-img.svg" style="width: 80%;" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text">
                <p class="section-title">SLA Management</p>
                <p class="section-paragraph">Infraon Infinity equips you with automated workflows to take control of all your network device SLA journeys.</p>
                <p class="section-paragraph">Get an intuitive and interactive dashboard to configure security & compliance protocols, set rules, and monitor at-risk SLAs – with real-time insights.</p>
            </div>
        </div>
    </div>
</section>