.header-section {
    background-image: url(./../../../../../assets/img/header-bg/sam-bg-right-01.png), url(./../../../../../assets/img/header-bg/sam-bg-left-01.png);
    background-size: contain,contain;
    background-repeat: no-repeat,no-repeat;
    background-position: right center, left center;
    background-color: #fff;
}