<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Software Asset Management (SAM) Software</h1>
    <p class="header-desc text-center my-5">Manage multiple asset journeys with integrated software asset management features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Make Software Asset Management Hassle-Free & Future-Ready</p>
                <p class="section-paragraph">Infraon Assets drives software asset lifecycle efficiency - from basic software review to licensing and managed solutions.</p>
                <p class="section-paragraph">Eliminate unplanned costs and dependency on multiple software asset management tools and enable continuous lifecycle compliance.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-end">
                <img src="./../../../../../assets/img/feature-img/sam-main-illustration.png" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/columns.svg" alt="">
            </div>
            <p class="section-title-s">Automated Software Discovery</p>
            <p class="section-paragraph-s">Automate scanning of software assets with a rapid-fire “scan/search” feature for inventory endpoints. Detect any hindrances to software asset management efficiency & governance.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/stack.svg" alt="">
            </div>
            <p class="section-title-s">Software License Management</p>
            <p class="section-paragraph-s">Track any overflow in your software asset license usage to avoid issues related to non-compliance/unused licenses.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/cd-stack.svg" alt="">
            </div>
            <p class="section-title-s">Software Whitelisting & Blacklisting</p>
            <p class="section-paragraph-s">Use a software whitelisting & blacklisting system to prevent future threats & minimize the damage caused by existing breaches in just a few steps.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/airplay.svg" alt="">
            </div>
            <p class="section-title-s">Software True Up Cost</p>
            <p class="section-paragraph-s">Be always ready to report the true up cost of your software assets without, including license & maintenance. Ensure a high degree of accuracy to prevent disastrous decisions.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/monitor.svg" alt="">
            </div>
            <p class="section-title-s">Vendor Management</p>
            <p class="section-paragraph-s">Monitor performance of software asset vendors with real-time data that ensures full transparency. Avoid contract oversights & set measurable vendor KPIs.
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/ticking.svg" alt="">
            </div>
            <p class="section-title-s">Integrated Ticketing</p>
            <p class="section-paragraph-s">Centralize IT ticket management with an inbuilt integrated system that offers multi-channel support – with self-service options, including chatbot capabilities.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/alert.svg" alt="">
            </div>
            <p class="section-title-s">Low Stock Alerts</p>
            <p class="section-paragraph-s">Be instantly notified by low stock alerts and create a culture of software asset availability. Prevent understocking that can potentially cause major business disruptions.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/config.svg" alt="">
            </div>
            <p class="section-title-s">Access Control</p>
            <p class="section-paragraph-s">Gain control by ensuring least privilege access privileges to software assets with authentication & authorization protocols – stay clear of compliance risks.</p>
        </div>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 d-flex align-items-center p-b-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left justify-content-center">
                <img src="./../../../../../assets/img/feature-img/Group1935.png" style="width: 70%;" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Key Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">KPI Dashboard</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Scheduled Reports</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Reports</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Roles</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Report Export</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Alerts</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Bulk Excel Import/Export</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Customizable Fields</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
