<app-loader></app-loader>


<section class="header-section p-120 bg-grey">
    <h1 class="header-title text-center mb-0">Hardware Asset Management (HAM)</h1>
    <p class="header-desc text-center my-5">Manage & maximize the full lifecycle of hardware assets with intuitive, powerful features</p>

    <div class="d-flex justify-content-center">
        <a href="" class="primary-button">Early bird access</a>
    </div>
</section>


<section class="p-120">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-text-left">
                <p class="section-title">Take Out The “Hard” In Hardware Asset Management</p>
                <p class="section-paragraph">Infraon Assets simplifies hardware inventory management to help you make intelligent decisions that maximize enterprise-wide ROI. Get spreadsheet-free insights and reduce the cost of running hardware while smoothly mitigating risks.</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-right justify-content-end">
                <img src="./../../../../../assets/img/feature-img/infinity-feature-3-main-img-01.webp" alt="">
            </div>
        </div>
    </div>
</section>


<section class="p-lr-120 p-b-60">
    <h2 class="section-title text-center p-b-60">Feature Highlights</h2>

    <div class="row mx-0 justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/reload.svg" alt="">
            </div>
            <p class="section-title-s">Asset Lifecycle Management</p>
            <p class="section-paragraph-s">Manage your hardware asset lifecycles, starting from procurement & spares to repairs & retirement – with full control over warranties & due AMCs.</p>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/stack.svg" alt="">
            </div>
            <p class="section-title-s">Asset Stock & Inventory Module</p>
            <p class="section-paragraph-s">Optimize your overall hardware ROI with asset stocking & inventory management- accelerating the speed of audit & improving asset availability.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/file-icon.svg" alt="">
            </div>
            <p class="section-title-s">Integrated Ticketing</p>
            <p class="section-paragraph-s">Centralize IT ticket management with an inbuilt integrated system that offers multi-channel support – with self-service options, including chatbot capabilities.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/config.svg" alt="">
            </div>
            <p class="section-title-s">Vendor Management</p>
            <p class="section-paragraph-s">Monitor performance of hardware asset vendors with real-time data that ensures full transparency – avoid contract oversights & set measurable vendor KPIs.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/shield.svg" alt="">
            </div>
            <p class="section-title-s">Access Control</p>
            <p class="section-paragraph-s">Gain control by ensuring least privilege access privileges to hardware assets - with advanced user verification protocols to stay clear of compliance risks.
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/barcode.svg" alt="">
            </div>
            <p class="section-title-s">Barcode And QR Code Scanning</p>
            <p class="section-paragraph-s">Get asset tagging capabilities using barcode /QR codes that help store & evaluate hardware assets – move away from inaccurate & time-consuming manual tracking.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/history-tracking.svg" alt="">
            </div>
            <p class="section-title-s">History Tracking</p>
            <p class="section-paragraph-s">Track your hardware assets based on their historical data like procurement time, expiration date, current status, etc., to increase lifetime value.</p>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 px-5 mb-5">
            <div class="mb-3">
                <img class="d-block mx-auto" src="./../../../../../assets/img/feature-icons/map-marker.svg" alt="">
            </div>
            <p class="section-title-s">Locations Tracking</p>
            <p class="section-paragraph-s">Track the physical location of your hardware assets using web UI or bulk upload via CSV & check the online geo-map view or drill-down map view.</p>
        </div>
    </div>
</section>


<section class="p-120">
    <div class="row mx-0 d-flex align-items-center p-b-120">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="illustrated-feature-container-img-left justify-content-center">
                <img src="./../../../../../assets/img/feature-img/Group1935.png" style="width: 70%;" alt="">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h2 class="section-title">Key Features</h2>

            <div class="row mx-0 px-0">
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">KPI Dashboard</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Scheduled Reports</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Reports</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Roles</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Customizable Fields</p></li>
                </ul>
                <ul class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Report Export</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Custom Alerts</p></li>
                    <li class="d-flex align-items-center my-3"><img class="me-3" src="./../../../../../assets/img/checkmark-circle.svg" alt=""> <p class="section-paragraph mb-0">Bulk Excel Import/Export</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
